= form_for(@institution) do |f|
  - if @institution.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @institution.errors.full_messages.each do |msg|
            %li= msg
  - unless @readonly
    .row
      .col.pe-2
      = f.label :name, :class => 'control-label'
      = f.text_field :name, readonly: @readonly

    .row
      .col.pe-1
        = f.submit 'Save', class: 'btn-primary'
      .col.pe-10
      .col.pe-1
        - if @can_delete
          = link_to "Delete", @institution, method: :delete, data: { confirm: "Are you sure you want to delete the institution '#{@institution.name}'" }, class: 'btn-secondary', title: 'Delete Institution'
