= form_for(institution) do |f|
  - if institution.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - institution.errors.full_messages.each do |msg|
            %li= msg
  %div
    = f.label :name
    = f.text_field :name, readonly: !(institution_admin? || institution.new_record?)

  - if institution_admin? || institution.new_record?
    = f.submit class: 'btn'
