= form_for(@institution) do |f|
  - if @institution.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @institution.errors.full_messages.each do |msg|
            %li= msg
  - unless @readonly
    - if @institution.new_record?
      .row
        .col
          = f.label :kind, :class => 'block'
          - Institution::KINDS.each do |kind|
            = f.radio_button :kind, kind, checked: @institution.kind == kind
            %label{for: "institution_kind_#{kind}"}
              = kind.humanize
    .row
      .col
        = f.label :name, :class => 'block'
        = f.text_field :name, readonly: @readonly, :class => 'input-x-large'
    %br
    .row
      .col
        = f.submit 'Save', class: 'btn-primary'
        - if @can_delete
          = link_to "Delete", @institution, method: :delete, data: { confirm: "Are you sure you want to delete the institution '#{@institution.name}'" }, class: 'btn-secondary pull-right', title: 'Delete Institution'
