= form_for(@institution) do |f|
  - if @institution.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @institution.errors.full_messages.each do |msg|
            %li= msg
  - unless @readonly
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, readonly: @readonly

    .control-group
      .controls
        = f.submit class: 'btn'
