= form_for(@institution) do |f|
  - if @institution.errors.any?
    #error_explanation
      %h2
        = pluralize(@institution.errors.count, "error")
        prohibited this institution from being saved:
      %ul
        - @institution.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
