%h2
  = link_to 'â†', institutions_path if @institutions.size > 1
  = @institution.name
- content_for(:rightcolumn) do
  - if has_access?(@institution, "cdpx:deleteInstitution")
    = link_to "Delete", @institution, method: :delete, data: { confirm: "Are you sure you want to delete the institution '#{@institution.name}'" }, class: 'btn-primary fixed', title: 'Delete Institution'
.row.grid_sm
  .col
    %label Get access through API token.
    %p= link_to 'Request API token', request_api_token_institution_path(@institution)
= render 'form'

