.barcode-card
  .row.barcode-content
    .row
      .title
        = @sample_form.institution
    .row
      = image_tag barcode_img_data_url(@sample_form.uuid)
      .code Sample ID #{@sample_form.uuid}
    .row
      .code Isolate Name: #{@sample_form.isolate_name}
    .row
      .code Inactivation Method: #{@sample_form.inactivation_method}
    .row
      .code Production Date: #{@sample_form.date_produced}
    .row.logo
      = image_tag 'cdx-logo-bw.png'
      .label https://cdx.io
  - if @show_print_action
    .row.actions
      = link_to print_sample_path(@sample_form), download: "cdx_sample_#{@sample_form.uuid}.pdf", target: "_blank", class: 'btn-link' do
        .icon-print.btn-icon
        %span Print
