.row
  .col.pe-2
    = f.label :assays
  .col
    .choose-picture.assay
      .upload-new-file.picture
        .tooltip
          .tooltip-content
            .text
              Drop assays here
            .text
              or
            .action
              .icon-upload.icon-blue
              Choose a file to upload

        #dropzonePreview.upload-picture.dz-default.dz-message

        = f.fields_for :assay_attachments do |ay|
          .file-uploaded
            .card-container
              .info
                .row
                  .col.pe-1
                    = ay.label :loinc_code, 'LOINC'
                  .col.pe-8
                    .loinc_inputs
                      = text_field_tag :loinc_code_component, loinc_code_description(ay.object.loinc_code), { class: 'loinc_input'}
                      = ay.hidden_field :loinc_code_id, { class: 'loinc_input_hidden'}
                .row
                  - if ay.object.errors.include?(:result) or ay.object.errors.include?(:assay_file)
                    .col.pe-1
                      = ay.label :result, {class: 'input-required'}
                    .col.pe-8
                      = ay.text_field :result, {class: 'input-required'}
                  - else
                    .col.pe-1
                      = ay.label :result
                    .col.pe-8
                      = ay.text_field :result
                %div
                  = ay.hidden_field :assay_file_id, value: ay.object.assay_file_id

              - if ay.object.errors.include?(:assay_file)
                .file
                  .picture-container.picture-required
                    .icon-alert.icon-red
                    = "You must define a result or an attachment"
              - else
                - if ay.object.assay_file.nil? or not ay.object.assay_file.is_image?
                  .file
                    .picture-container.assay-file
                      .any-filetype
                        .icon-document
                  .remove
                    = ay.check_box '_destroy', { id: "destroy_assay_attachments_#{ay.object.id}" }
                    %label.cross{:for => "destroy_assay_attachments_#{ay.object.id}" }
                      = image_tag "ic-cross.png"
                - else
                  .file
                    .picture-container.assay-file
                      = image_tag ay.object.assay_file.picture.url(:card)
                      .any-filetype
                        .icon-document
                      .picture-title{ title: ay.object.assay_file.picture_file_name }
                        = link_to ay.object.assay_file.picture_file_name, ay.object.assay_file.picture.url, target: "_blank", download: ay.object.assay_file.picture_file_name
                  .remove
                    = ay.check_box '_destroy', { id: "destroy_assay_attachments_#{ay.object.id}" }
                    %label.cross{:for => "destroy_assay_attachments_#{ay.object.id}" }
                      = image_tag "ic-cross.png"

    .actions
      = button_tag id: 'add-assays', class: "btn-link" do
        .icon-circle-plus.btn-icon.icon-blue-important.icon-margin
        New Assay
