.row
  .col.pe-2
    = f.label :assays
  .col
    .choose-picture.assay
      .upload-new-file.picture
        .tooltip
          .tooltip-content
            .text
              Drop assays here
            .text
              or
            .action
              = icon_tag "upload", class: "icon-blue"
              Choose a file to upload

        #dropzonePreview.upload-picture.dz-default.dz-message

        = f.fields_for :assay_attachments do |ay|
          .file-uploaded
            .card-container
              .info
                .row
                  .col.pe-1
                    = ay.label :loinc_code, 'LOINC', class: ('input-required' if ay.object.errors.include?(:loinc_code))
                  .col.pe-8
                    .loinc_inputs
                      = text_field_tag :loinc_code_component, loinc_code_description(ay.object.loinc_code), { class: "loinc_input#{" input-required" if ay.object.errors.include?(:loinc_code)}" }
                      = ay.hidden_field :loinc_code_id, { class: 'loinc_input_hidden'}
                .row
                  .col.pe-1
                    = ay.label :result, class: ('input-required' if ay.object.errors.include?(:result))
                  .col.pe-8
                    = ay.text_field :result, class: ('input-required' if ay.object.errors.include?(:result))
                    - ay.field_errors(:result)
                %div
                  = ay.hidden_field :assay_file_id, value: ay.object.assay_file_id

              - if ay.object.errors.include?(:assay_file)
                .file
                  .picture-container.picture-required
                    = icon_tag "alert", class: "icon-red"
                    = ay.object.errors[:assay_file].join(" - ")
                - ay.field_errors :assay_file
              - else
                - if ay.object.assay_file.nil?
                  .file.is-hidden
                    .picture-container.assay-file
                      .any-filetype
                        = icon_tag "document"
                  .remove
                    = ay.check_box '_destroy', { id: "destroy_assay_attachments_#{ay.object.id}" }
                    %label.cross{:for => "destroy_assay_attachments_#{ay.object.id}" }
                      = image_tag "ic-cross.png"
                - else
                  .file
                    .picture-container.assay-file
                      - if ay.object.assay_file.is_image?
                        = image_tag ay.object.assay_file.picture.url(:card)
                      - else
                        .any-filetype
                          = icon_tag "document"
                      .picture-title{ title: ay.object.assay_file.picture_file_name }
                        = link_to ay.object.assay_file.picture_file_name, ay.object.assay_file.picture.url, target: "_blank", download: ay.object.assay_file.picture_file_name

                  .remove
                    = ay.check_box '_destroy', { id: "destroy_assay_attachments_#{ay.object.id}" }
                    %label.cross{:for => "destroy_assay_attachments_#{ay.object.id}" }
                      = image_tag "ic-cross.png"

          = f.field_errors :assay_attachments

    .actions
      = button_tag id: 'add-assays', class: "btn-link" do
        = icon_tag "circle-plus", class: "btn-icon icon-blue-important icon-margin"
        New Assay

= render 'form_assays_js'
