.row
  .col.pe-2
    = f.label :assays
  .col
    .choose-picture.assay
      .upload-new-file.picture
        .tooltip
          .tooltip-content
            .text
              Drop assays here
            .text
              or
            .action
              .icon-upload.icon-blue
              Choose a file to upload

        = f.file_field :new_assays, :class => "upload-picture", multiple: true

        = f.fields_for :assay_attachments do |ay|
          .file-uploaded.picture-container.assay-file
            - if ay.object.is_image?
              = image_tag ay.object.picture.url(:card)
            - else
              .any-filetype.icon-document
            .picture-title{ title: ay.object.picture_file_name }
              = link_to ay.object.picture_file_name, ay.object.picture.url, target: "_blank", download: ay.object.picture_file_name
            .clear-label
              = ay.check_box '_destroy', { id: "destroy_assay_attachments_#{ay.object.id}" }
              %label.cross{:for => "destroy_assay_attachments_#{ay.object.id}" }
                = image_tag "ic-cross.png"

    .actions
      = button_tag id: 'add-assays', class: "btn-link nodisplay" do
        .icon-circle-plus.btn-icon.icon-blue-important.icon-margin
        Add Assays
      .span
      = button_tag id: 'undo-added-assays', class: 'btn-link nodisplay' do
        .icon-close.btn-icon.icon-red-important.icon-margin
        Remove recent assays
