= form_for(@sample_form) do |f|

  = validation_errors @sample_form

  .row
    .col
      .row
        .col.pe-4
          = f.label :uuid
        .col
          .value= f.object.uuid

      .row
        .col.pe-4
          = f.label :date_produced, "production date"
        .col
          = f.text_field :date_produced, placeholder: @view_helper[:date_produced_placeholder]

      .row
        .col.pe-4
          = f.label :lab_technician
        .col
          = f.text_field :lab_technician, :class => 'input-x-large'

      .row
        .col.pe-4
          = f.label :specimen_role
        .col
          = f.text_field :specimen_role, :class => 'input-x-large'
          - Sample::SPECIMEN_ROLES.each do |key, value|
            = hidden_field_tag key, value, {disabled: true, class: 'specimen_role_options'}

      .row
        .col.pe-4
          = f.label :isolate_name
        .col
          = f.text_field :isolate_name, :class => 'input-x-large'

      .row
        .col.pe-4
          = f.label :inactivation_method
        .col
          = cdx_select form: f, name: :inactivation_method, searchable: false do |select|
            - select.items SampleForm::INACTIVATION_METHOD_VALUES

      .row
        .col.pe-4
          = f.label :volume
        .col
          .row.input-unit
            = f.number_field :volume, min: 0, step: :any, :class => "input-small"
            .span.unit (μl)

    .col.pe-5
      - if @show_barcode_preview
        = render "barcode_card"

  .col
    = render 'form_assays', f: f

  .col
    = render 'form_notes', f: f

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', @view_helper[:back_path], class: 'btn-link'

      - if @can_delete
        = confirm_deletion_button @sample_form, 'sample'

= render 'form_assays_js'
= render 'form_specimen_role_js'
