.row
  .col.pe-2
    = f.label :assays
  .col
    .choose-picture.assay
      .upload-new-file.picture
        = f.fields_for :assays do |ay|
          .file-uploaded.picture-container
            = image_tag ay.object.picture.url(:card)
            .picture-title
              = ay.object.picture_file_name
            .clear-label
              = ay.check_box '_destroy', { id: "destroy_assay_#{ay.object.id}" }
              %label.cross{:for => "destroy_assay_#{ay.object.id}" }
                = image_tag "ic-cross.png"

        = f.file_field :new_assays, :class => "upload-picture",  accept: 'image/png,image/jpeg,image/gif', multiple: true

    .actions
      = button_tag id: 'undo_added_files', class: 'btn-link hidden' do
        .icon-close.btn-icon
        Undo added files
