.barcode-card-print
  .barcode-content
    -# .title
    -#   = sample.institution
    .barcode
      = image_tag barcode_img_data_url(sample.uuid)
    .code
      .uuid
        #{sample.uuid}
    .code
      I.N. #{sample.isolate_name}
    .code
      I.M. #{sample.inactivation_method}
    .code
      P.D. #{sample.date_produced_description}
    .logo
      = image_tag wicked_pdf_asset_base64('cdx-logo-bw.png')
      .label https://cdx.io
