.barcode-card-print
  .barcode-content
    -# .title
    -#   = sample.institution
    .barcode
      = image_tag barcode_img_data_url(sample.uuid)
    .code
      -# #{sample.uuid}
      .uuid
        #{sample.uuid}
        -# #{sample.uuid.split('-').last}
    .code
      Isol. #{sample.isolate_name}
    .code
      Inac. #{sample.inactivation_method}
    .code
      Prod. #{sample.date_produced_description}
    -# .logo
    -#   -# = image_tag 'cdx-logo-bw.png'
    -#   = wicked_pdf_image_tag 'cdx-logo-bw.png'
    -#   .label https://cdx.io
