= render "filters"

.row
  .col.pe-9
    - if @samples.empty?
      = empty_data icon: 'icon-outline-test xx-large' do |c|
        - c.body do
          %h1 There are no samples
          %p Every sample will have a UUID and a barcode
    - else
      =form_tag bulk_action_samples_path, :id => 'samples_form' , :method => :get do
        = cdx_table title: pluralize(@total, "sample") do |t|
          - t.actions do
            =button_tag class: 'btn-link', name: 'bulk_action', value: 'print' do
              .icon-print.btn-icon
            =button_tag class: 'btn-link', name: 'bulk_action', value: 'destroy', data: { method: "delete", confirm: "You're about to permanently delete the selected samples. This action CANNOT be undone. Are you sure you want to proceed?" } do
              .icon-trash.btn-icon
          - t.columns do
            %col{:width => "5%"}
            %col{:width => "40%"}
            %col{:width => "30%"}
            %col{:width => "25%"}
          - t.thead do
            %tr
              %th
              %th Sample Id
              %th Lab Technician
              %th Date Produced
          - t.tbody do
            - @samples.each do |sample|
              %tr.laboratory-sample-row{data: {href: edit_sample_path(sample) }}
                %td
                  =check_box_tag 'sample_ids[]', sample.id, false, { id: "sample_ids.#{sample.id}" }
                  %label.row{for: "sample_ids.#{sample.id}"}
                %td= sample.uuid
                %td= sample.lab_technician
                %td= sample.production_date

      .pagination
        = render 'shared/pagination'


  .col.tab-buttons
    .tab-separator
    .icons-group
      = link_to batches_path do
        .icon-batch.tab-batch
      .selected-icon-tab
        .icon-sample.tab-sample.selected

