- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to @view_helper[:back_path], class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            = @sample_form.uuid

= form_for(@sample_form) do |f|
  .row
    .col
      .row
        .col.pe-4
          = f.label :uuid
        .col
          .value= f.object.uuid

      .row
        .col.pe-4
          = f.label :date_produced, "production date"
        .col
          = f.text_field :date_produced, placeholder: @view_helper[:date_produced_placeholder], readonly: true

      .row
        .col.pe-4
          = f.label :lab_technician
        .col
          = f.text_field :lab_technician, :class => 'input-x-large', readonly: true

      .row
        .col.pe-4
          = f.label :specimen_role
        .col
          = text_field_tag :specimen_role, Sample.specimen_role_description(f.object.specimen_role), { :class => 'input-x-large', readonly: true }

      .row
        .col.pe-4
          = f.label :isolate_name
        .col
          = f.text_field :isolate_name, :class => 'input-x-large', readonly: true

      .row
        .col.pe-4
          = f.label :inactivation_method
        .col
          = f.text_field :inactivation_method, readonly: true

      .row
        .col.pe-4
          = f.label :volume
        .col
          .row.input-unit
            = f.number_field :volume, min: 0, step: :any, :class => "input-small", readonly: true
            .span.unit (μl)

    .col.pe-5
      - if @show_barcode_preview
        = render "barcode_card"

  .col
    = render 'show_assays', f: f

  .col
    = render 'show_notes', f: f
