- content_for(:subheader) do
  .row.center.add-new
    .col.pe-10
      .row
        .col
          %h2
            = link_to samples_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left-white.png"
            Upload Results

=form_tag bulk_action_samples_path, :id => 'samples_form' , :method => :post, multipart: true do
  .row
    .col.pe-3
      %label Results
    .col
      .row.samples-row
        .col
          .text-bold#file-count
            0 files
        .col.align-right
          =link_to '/template.csv', target: "_blank" do
            .icon-download.icon-gray
            %span.btn-download
              CSV TEMPLATE
      .row
        .col
          #uploaded-files
          .add-file-btn
            = button_tag id: 'add-results-file', class: 'btn-link', type: "button" do
              .icon-circle-plus.icon-blue.icon-margin
              %span.btn-upload
                Add file

  .row
    .col
      = button_tag id: 'bulk_process_csv', class: 'btn-primary', name: 'bulk_action', value: 'process_csv', disabled: true, data: { method: "process_csv", confirm: "This action will unblind samples and cannot be undone. <br> Samples with uploaded measurements won't be overwritten. " } do
        Upload Results
      = link_to 'Cancel', samples_path, class: 'btn-link'

%template{:id => "csvFileRow"}
  .batches-samples.upload_info
    .samples-row
      .samples-item.gap-5
        .icon-circle-minus.icon-gray.remove_file
        .file-name
      .samples-row-action.gap-5.not_found_message
        .uploaded-samples-count
        .upload-icon.bigger
        .ttext.hidden

%template{:id => "csvInputFile"}
  = file_field_tag "csv_files[]", hidden: true, class: "csv_file", accept: "text/csv"

= render 'upload_results_js'