.row
  .col
    %h1 Resend confirmation instructions
= cdx_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  .row
    .col
      = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input-block"
      = f.field_errors :email
  %br
  .row
    .col
      = f.submit "Resend confirmation instructions", class: "btn-secondary input-block"
  .row
    .col
      %br
      = link_to "Have an account? Log in", new_session_path(resource_name), class: "pull-right"
