= form_for(@sample) do |f|

  = validation_errors @sample

  .row
    .col
      .row
        .col.pe-4
          = f.label :uuid
        .col
          .value= f.object.uuid
      .row
        .col.pe-4
          = f.label :is_quality_control, "quality control"
        .col
          = f.check_box :is_quality_control
          = f.label :is_quality_control, "&nbsp;".html_safe
    - if @show_barcode_preview
      .col
        = render "barcode_card"

  - if @sample.is_quality_control
    -# = fields_for :test_qc_result, @sample.test_qc_result do |qc|
    .row
      .col.pe-2
        = f.label :assays
      .col
        .choose-picture.assay
          -# - @sample.qc_result.assays.each do |assay|
          -#   .file-uploaded
          -#     = image_tag assay.picture.url(:card)

          -# - unless @sample.new_record? || @test_qc_result.picture.blank?
          -#   .file-uploaded
          -#     = image_tag @test_qc_result.picture.url(:card)
          .upload-new-file.picture
            -# .upload-picture-title
            -#   %h2
            -#     Drop a picture here
            -#     %br or click to upload a file
            -# %img{:src => ""}
            - @sample.qc_result.assays.each do |assay|
              .file-uploaded.picture-container
                = image_tag assay.picture.url(:card)
                .picture-title
                  = assay.picture_file_name

            = f.file_field :assays, :class => "upload-picture", multiple: true

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', edit_batch_path(@sample.batch), class: 'btn-link'

      - if @can_delete
        = confirm_deletion_button @sample, 'sample'

:javascript
  //custom_input_file(jQuery, window, document);

  $(function() {
    var onloadPicture = function(filename) {
      return function(event) {
        var fileDiv = $('<div>', { class: 'picture-container' })
          .append(
            $('<img>')
              .attr('src', event.target.result)
              .addClass('uploaded')
          )
          .append(
            $('<div>', { class: 'picture-title' })
              .text(filename)
          );

        $('.assay > .upload-new-file')
          .append(fileDiv);
      }
    }

    // Drag Picture to an input file and preview it
    $('#laboratory_sample_assays').on('change', function(e) {
      var files = e.target.files;

      for(var i = 0; i < files.length; i++) {
        var name = files[i].name;

        var reader = new FileReader();
        reader.onload = onloadPicture(name);
        reader.readAsDataURL(files[i]);
      }
    });


    // Change the class on the target zone when dragging a file over it
    $(".clear-label").on('click', function () {
      $(this).closest('.file-uploaded').addClass('remove');
    });

  });

  document.addEventListener("dragenter", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').addClass('on');
    }

  }, false);

  document.addEventListener("dragleave", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').removeClass('on');
    }
  }, false);

