= form_for(@sample) do |f|

  = validation_errors @sample

  .row
    .col
      .row
        .col.pe-4
          = f.label :uuid
        .col
          .value= f.object.uuid
      .row
        .col.pe-4
          = f.label :is_quality_control
        .col
          = f.check_box :is_quality_control
          = f.label :is_quality_control, "&nbsp;".html_safe

    - if @show_barcode_preview
      .col
        = render "barcode_card"

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', laboratory_samples_path, class: 'btn-link'

      - if @can_delete
        = confirm_deletion_button @sample, 'sample'
