= form_for(@sample) do |f|
  -#.row
  -#  .col.pe-2
  -#    = f.label :institution
  -#  .col
  -#    .value= f.object.institution

  .row
    .col.pe-2
      = f.label :uuid
    .col
      .value= f.object.uuid

  .row
    .col.pe-2
      = f.label :type
    -#.col
    -#  = f.collection_radio_buttons :type, LaboratorySample.types, :second, :first do |b|
    -#    .row
    -#      .col
    -#        = b.radio_button
    -#        = b.label
    .col
      = cdx_select form: f, name: :type, searchable: false do |select|
        - select.items LaboratorySample.types.keys.map { |k| k.length > 3 ? k.capitalize : k.upcase }

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', patients_path, class: 'btn-link'

      - if @can_delete
        = confirm_deletion_button @sample, 'sample'
