= form_for(@sample) do |f|

  = validation_errors @sample

  .row
    .col
      .row
        .col.pe-4
          = f.label :uuid
        .col
          .value= f.object.uuid
      .row
        .col.pe-4
          = f.label :is_quality_control, "quality control"
        .col
          = f.check_box :is_quality_control
          = f.label :is_quality_control, "&nbsp;".html_safe
    - if @show_barcode_preview
      .col
        = render "barcode_card"

  = f.fields_for :test_qc_result, @sample.test_qc_result do |qc|
    .row
      .col.pe-2
        = qc.label :test_qc_result_assays, "Assays"
      .col
        .choose-picture.assay
          .upload-new-file.picture
            = qc.fields_for :test_qc_result_assays do |ay|
              .file-uploaded.picture-container
                = image_tag ay.object.picture.url(:card)
                .picture-title
                  = ay.object.picture_file_name
                .clear-label
                  = ay.check_box '_destroy', { id: "destroy_assay_#{ay.object.id}" }
                  %label.cross{:for => "destroy_assay_#{ay.object.id}" }
                    = image_tag "ic-cross.png"

            = qc.file_field :files, :class => "upload-picture",  accept: 'image/png,image/jpeg,image/gif', multiple: true


  - if @sample.is_quality_control
    .row
      .col.pe-2
        = f.label :notes
      .col.pe-3
        = f.text_area :notes
    .row
      .col.pe-2
        = f.label :notes
      .col.pe-3
        - @notes.each do |note|
          %div
            = "by" + " " + User.find(note.user_id).first_name + " " + note.updated_at.to_s
          %div
            = note.description

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', edit_batch_path(@sample.batch), class: 'btn-link'

      - if @can_delete
        = confirm_deletion_button @sample, 'sample'

= render 'form_js'
