= render "filters"

.row
  .col
    - if @samples.empty?
      = empty_data icon: 'icon-outline-test xx-large' do |c|
        - c.body do
          %h1 There are no samples
          %p Every sample will have a UUID and a barcode
    - else
      = cdx_table title: pluralize(@total, "sample") do |t|
        - t.columns do
          %col{:width => "50%"}
          %col{:width => "50%"}
        - t.thead do
          %tr
            %th Sample Id
            %th Type
        - t.tbody do
          - @samples.each do |sample|
            %tr{data: {href: "#" }}
              %td= sample.uuid
              %td= sample.type.blank? ? "Unknown" : sample.type

      .pagination
        = render 'shared/pagination'