%table.table(cellpadding="0" cellspacing="0")
  = cdx_table[:columns]
  %thead
    - if cdx_table[:title] || cdx_table[:actions]
      %tr
        %td.tableheader{colspan:100}
          .table-info
            - if cdx_table[:title]
              .table-title= cdx_table[:title]
            .separator
            - if cdx_table[:actions]
              .table-actions= cdx_table[:actions]
    = cdx_table[:thead]
  %tbody
    = cdx_table[:tbody]
