.row
  .col
    %h1 My Account

= cdx_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.form_field :first_name do
    = f.text_field :first_name, autofocus: true

  = f.form_field :last_name do
    = f.text_field :last_name

  = f.form_field :email do
    = f.text_field :email, readonly: true

  = f.form_field :telephone do
    = f.text_field :telephone

  = f.form_field :password, label: { text: "New password" } do
    = f.password_field :password, autocomplete: "off"

  = f.form_field :password_confirmation, label: { text: "Retype new password" } do
    = f.password_field :password_confirmation

  = f.form_field :locale do
    = cdx_select form: f, name: :locale, class: 'input-xx-large' do |select|
      - select.items(@locales, :second, :first)

  = f.form_field :time_zone do
    = cdx_select form: f, name: :time_zone, class: 'input-xx-large' do |select|
      - select.items(ActiveSupport::TimeZone.all, :name, :to_s)

  = f.form_field :timestamps_in_device_time_zone, label: { text: "Test timestamps" } do
    = cdx_select form: f, name: :timestamps_in_device_time_zone, class: 'input-xx-large' do |select|
      - select.item false, "Relative to my time zone"
      - select.item true, "Relative to the device time zone"

  = f.form_actions do
    = f.submit 'Save', class: 'btn-primary'
