= cdx_form_for(@qc_info) do |f|
  = f.form_field :uuid, value: f.object.uuid

  = f.form_field :batch_id, value: f.object.batch_number

  = f.form_field :date_produced do
    = f.text_field :formatted_date_produced, placeholder: @view_helper[:date_produced_placeholder], readonly: !@can_update

  = f.form_field :lab_technician do
    = f.text_field :lab_technician, :class => 'input-x-large', readonly: !@can_update

  = f.form_field :specimen_role do
    = text_field_tag :specimen_role, Sample.specimen_role_description(f.object.specimen_role), { :class => 'input-x-large', readonly: true }

  = f.form_field :isolate_name do
    = f.text_field :isolate_name, :class => 'input-x-large', readonly: !@can_update

  = f.form_field :inactivation_method do
    = f.text_field :inactivation_method, readonly: true

  = f.form_field :volume do
    .row.input-unit
      = f.number_field :volume, min: 0, step: :any, :class => "input-small", readonly: !@can_update
      .span.unit (μl)

  .row
    .col
      = render 'show_assays', f: f

  .row
    .col
      = render 'show_notes', f: f

