= form_for(@qc_info) do |f|

  = validation_errors @qc_info

  .row
    .col
      .row
        .col.pe-4
          = f.label :uuid
        .col
          .value= f.object.uuid
      .row
        .col.pe-4
          = f.label :batch_id
        .col
          .value= f.object.batch_number

      .row
        .col.pe-4
          = f.label :date_produced
        .col
          = f.text_field :formatted_date_produced, placeholder: @view_helper[:date_produced_placeholder], readonly: !@can_update

      .row
        .col.pe-4
          = f.label :lab_technician
        .col
          = f.text_field :lab_technician, :class => 'input-x-large', readonly: !@can_update

      .row
        .col.pe-4
          = f.label :specimen_role
        .col
          = text_field_tag :specimen_role, Sample.specimen_role_description(f.object.specimen_role), { :class => 'input-x-large', readonly: true }
      .row
        .col.pe-4
          = f.label :isolate_name
        .col
          = f.text_field :isolate_name, :class => 'input-x-large', readonly: !@can_update

      .row
        .col.pe-4
          = f.label :inactivation_method
        .col
          = f.text_field :inactivation_method, readonly: true

      .row
        .col.pe-4
          = f.label :volume
        .col
          .row.input-unit
            = f.number_field :volume, min: 0, step: :any, :class => "input-small", readonly: !@can_update
            .span.unit (μl)


  .col
    = render 'show_assays', f: f

  .col
    = render 'show_notes', f: f

