= f.form_field :notes do
  #notes
    = f.fields_for :notes do |note|
      .note
        .info
          = "by #{note.object.user.full_name} #{@localization_helper.format_datetime(note.object.updated_at)} "
        .description
          = note.object.description
        .dashed-line
