%h1= "Setup instructions for #{@device.name}"

- if @device.device_model.supports_activation?
  %h2 Activation token
  .p= @device.activation_token.value.scan(/.{4}/).join("-")
  = image_tag attachments['activation_token.png'].url

- else

  %h2 Device Id
  %p= @device.uuid
  = image_tag attachments['device_id.png'].url

  %h2 Secret Key
  %p= @device.plain_secret_key
  = image_tag attachments['plain_secret_key.png'].url

- if @device.device_model.support_url.present?
  %p
    Online support
    = link_to @device.device_model.support_url, @device.device_model.support_url

- if @device.device_model.setup_instructions.present?
  %p
    Download instructions as a
    = link_to "pdf file", "http://#{Settings.host}" + @device.device_model.setup_instructions.url
