- begin
  - custom_fields = @device.current_manifest.fields.select(&:custom?)
  .row
    .col.pe-2
      = label_tag :custom_fields
    .col
      .value Specify how you use some of the device's fields
  .row
    .col.pe-2
    .col
      .row.custom-fields-title
        .col.px-2
          I use the device field
        .col.px-2
          to enter the
      = fields_for(:device) do |d|
        = d.fields_for(:custom_mappings) do |m|
          - custom_fields.each do |field|
            .row.custom-fields-line
              .col.px-2
                = m.label field.target_field
                = icon "arrow-right", class: "absolute-right"
              .col.px-2
                = cdx_select form: m, name: field.target_field, value: (@device.custom_mappings || {})[field.target_field], class: 'input-medium' do |select|
                  - select.item "", "None"
                  - select.items Device::CUSTOM_FIELD_TARGETS.map(&:to_s), :itself, :titleize
- rescue ManifestParsingError => ex
  .row
    .col.pe-2
      = label_tag :custom_fields
    .col
      .alert.alert-error The manifest's custom fields definition seems to be out of date. Please contact the device manufacturer or the system administrator to update it.
