- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2{entity_html_options(@device)}
            = link_to devices_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            = @device.name

.row
  .col.pe-12
    = card image: @device.device_model.picture.url(:card) do |c|
      - c.top do
        %b= @device.name
        %br
        %span= @device.device_model.name
        - if @show_institution
          %div
            Institution: #{@device.institution.name}
      - if @can_edit
        - c.actions do
          = link_to edit_device_path(@device), :title => 'Edit' do
            = image_tag "ic-pencil.png"

      - c.bottom do
        .serial
          Serial no.
          = @device.serial_number
        - if @device.site
          .location
            Device located at
            = link_to @device.site, edit_site_path(@device.site)
