= form_for([institution, device]) do |f|
  - if device.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - device.errors.full_messages.each do |msg|
            %li= msg
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :laboratory_id
    = f.collection_select :laboratory_id, laboratories, :id, :name

  = f.submit class: 'btn'
