= form_for(@device) do |f|
  - if @device.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @device.errors.full_messages.each do |msg|
            %li= msg

  - if @device.new_record?
    .row
      .col.pe-3
        = f.label :institution, class: 'label'
        = f.collection_select :institution_id, @institutions, :id, :name
  - else
    %p
      Institution:
      = @device.institution

  .row
    .col.pe-3
      = f.label :name, :class => 'label'
      = f.text_field :name
  .row
    .col.pe-3
      = f.label :serial_number, :class => 'label'
      = f.text_field :serial_number
  .row
    .col.pe-3
      = f.label :device_model_id, :class => 'label'
      = f.collection_select :device_model_id, DeviceModel.all, :id, :name, {}, :class => 'ddown'
  .row
    .col.pe-3
      = f.label :laboratory, :class => 'label'
      = f.collection_select(:laboratory_id, @laboratories, :id, :name, {include_blank: "Choose one"}, class: 'ddown')
  .row
    .col.pe-3
      = f.label :time_zone, :class => 'label'
      = f.time_zone_select(:time_zone, nil,{ default: "UTC"}, class: 'ddown')
  .row
    .col
      = f.submit 'Save', class: 'btn-primary'
      - if @can_delete
        = link_to "Delete", @device, method: :delete, data: { confirm: "Are you sure you want to delete the device '#{@device.name}'" }, class: 'btn-secondary pull-right'
