= form_for(@device) do |f|
  = validation_errors @device

  .row
    .col.pe-2
      = f.label :institution
    .col
      .value= f.object.institution

  .row
    .col.pe-2
      = f.label :device_model_id
    .col
      = cdx_select form: f, name: :device_model_id, class: 'input-x-large' do |select|
        - select.items(@device_models, :id, :full_name)
  - if has_access?(Site, Policy::Actions::READ_SITE)
    .row
      .col.pe-2
        = f.label :site
      .col
        = cdx_select form: f, name: :site_id, class: 'input-x-large' do |select|
          - select.items(@sites, :id, :name)
  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name
  .row
    .col.pe-2
      = f.label :serial_number
    .col
      = f.text_field :serial_number
  .row
    .col.pe-2
      = f.label :time_zone
    .col
      = cdx_select form: f, name: :time_zone, class: 'input-x-large' do |select|
        - select.items(ActiveSupport::TimeZone.all, :name, :to_s)
  #custom_mappings
    = render "custom_mappings" if @device.device_model

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      - if @can_delete
        = link_to "Delete", @device, method: :delete, data: { confirm: "You are about to permanently delete this site. This action CANNOT be undone. Are you sure you want to proceed?" }, class: 'btn-secondary pull-right'

:coffeescript
  $ ->
    selected_device_model_id = #{@device.device_model_id.to_s.to_json}
    cdx_select_on_change "device[device_model_id]", (device_model_id) ->
      if device_model_id != selected_device_model_id
        $("#custom_mappings").load(
          "/devices/custom_mappings",
          {
            "device_model_id": device_model_id,
            "device_id": #{@device.id.to_json}
          },
          ->
            cdx_init_components($("#custom_mappings"))
        )
        selected_device_model_id = device_model_id
