= form_for([@institution, @device]) do |f|
  - if @device.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @device.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :device_model_id, :class => 'control-label'
    .controls
      = f.collection_select :device_model_id, DeviceModel.all, :id, :name
  .control-group
    = f.label :laboratories, :class => 'control-label'
    .controls
      .checks
        = f.collection_check_boxes(:laboratory_ids, @laboratories, :id, :name) { |b| b.label { b.check_box + b.text } + "<br/>".html_safe }

  .control-group
    .controls
      = f.submit class: 'btn'
