:css
  .checks { display: inline-block; }
  .checks label { display: inline-block; }

= form_for([@institution, @device]) do |f|
  - if @device.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @device.errors.full_messages.each do |msg|
            %li= msg
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :device_model_id
    = f.collection_select :device_model_id, DeviceModel.all, :id, :name
  %div
    = f.label :laboratories
    .checks
      = f.collection_check_boxes(:laboratory_ids, @laboratories, :id, :name) { |b| b.label { b.check_box + b.text } + "<br/>".html_safe }

  = f.submit class: 'btn'
