.span12
  %h3 Editing #{@device.name}
  %p
    %strong UUID:
    = @device.uuid
    = raw @uuid_barcode_for_html.to_html

  = render 'form'

  %hr
    %p
      = link_to "Events", institution_device_device_events_path(@institution, @device), class: 'btn'

  - if @can_regenerate_key
    %hr
    %p
      = link_to "Generate new key", regenerate_key_institution_device_path(@institution, @device), class: 'btn'

  - if @can_generate_activation_token
    %hr
    %p
      = link_to "Generate activation token",
        generate_activation_token_institution_device_path(@institution, @device),
        method: :post,
        class: 'btn'

  - if @can_delete
    %hr

    = icon_link_to :'icf-delete', "Delete this device", [@institution, @device], method: :delete, data: { confirm: "Are you sure you want to delete the device '#{@device.name}'" }
