- if @institutions.size > 1 || @sites.size > 1
  .row
    .col
      %h1 Filters
  %form
    .row
      - if @institutions.size > 1
        .col.pe-2
          %label Institution
          %select.ddown(name="institution")
            %option(value="") (all)
            = options_from_collection_for_select @institutions, :id, :name, params["institution"]
      - if @sites.size > 1
        .col.pe-2
          %label Site
          %select.ddown(name="site")
            %option(value="") (all)
            = options_from_collection_for_select @sites, :id, :name, params["site"]
      .col
        %input.btn-primary.pull-right{type: "submit", value: "Filter"}

.row
  .col
    - if @can_create
      = link_to "+", new_device_path, class: 'btn-add side-link fix', title: 'Add Device'
    = cdx_table title: 'Devices' do |t|
      - t.thead do
        %tr
          %th Name
          - unless @institutions.one?
            %th Institution
          %th Model
          %th Site
      - t.tbody do
        - @devices.each do |device|
          %tr
          %tr{data: (@devices_to_read.include?(device.id) ? {href: device_path(device) } : {})}
            %td= device.name
            - unless @institutions.one?
              %td= device.institution.name
            %td= device.device_model.full_name
            %td= device.site.try(:name)
