- content_for(:leftcolumn) do
  - if @can_create
    .centered
      = link_to "+", new_device_path, class: 'btn-add fixed', title: 'Add Device'

- unless @institutions.one?
  .row.grid_sm
    .col
      %h1 Filters
  %form
    .row.grid_sm
      .col.pe-2
        %label Institution
        %select.ddown(name="institution")
          %option(value="") (all)
          = options_from_collection_for_select @institutions, :id, :name, params["institution"]
      .col
        %input.btn-primary.pull-right{type: "submit", value: "Filter"}

.row.grid_sm
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} Devices
      %tr
        %th Name
        - unless @institutions.one?
          %th Institution
        %th Model
        %th Lab
      - @devices.each do |device|
        %tr
          - if @devices_to_edit.include?(device.id)
            %td= link_to device.name, edit_device_path(device)
          - else
            %td= device.name
          - unless @institutions.one?
            %td= device.institution.name
          %td= device.device_model.name
          %td= device.laboratory.try(:name)
