= render "filters"

.row
  .col
    - if @devices.empty?
      = empty_data icon: 'icon-outline-device xx-large' do |c|
        - c.body do
          %h1 There are no devices reporting at #{truncated_navigation_context_entity_name}
          %p Follow the configuration steps to connect a device and start reporting
    - else
      = cdx_table title: pluralize(@total, "device") do |t|
        - t.columns do
          %col{:width => "20%"}
          %col{:width => "50%"}
          %col{:width => "20%"}
          %col{:width => "10%"}
        - t.actions do
          = link_to devices_path(format: :csv), title: 'Download CSV' do
            .icon-download.icon-gray
        - t.thead do
          %tr
            %th Name
            %th Manufacturer
            %th Model
            %th Site
        - t.tbody do
          - @devices.each do |device|
            %tr{data: (@devices_to_read.include?(device.id) ? {href: device_path(device) } : {})}
              %td= device.name
              %td= device.device_model.institution.try :name
              %td= device.device_model.full_name
              %td= device.site.try(:name)

      .pagination
        = render 'shared/pagination'
