- if @institutions.size > 1 || @sites.size > 1
  .row
    .col
      %h1 Filters
  %form(data-auto-submit)
    .row
      - if @institutions.size > 1
        .col.pe-2
          %label.block Institution
          = cdx_select name: "institution", value: params["institution"] do |select|
            - select.item "", "(all)"
            - select.items @institutions, :id, :name
      - if @sites.size > 1
        .col.pe-2
          %label.block Site
          = cdx_select name: "site", value: params["site"] do |select|
            - select.item "", "(all)"
            - select.items @sites, :id, :name

.row
  .col
    - if @can_create
      = link_to "+", new_device_path, class: 'btn-add side-link fix', title: 'Add Device'
    = cdx_table title: 'Devices' do |t|
      - t.thead do
        %tr
          %th Name
          - unless @institutions.one?
            %th Institution
          %th Model
          %th Site
      - t.tbody do
        - @devices.each do |device|
          %tr
          %tr{data: (@devices_to_read.include?(device.id) ? {href: device_path(device) } : {})}
            %td= device.name
            - unless @institutions.one?
              %td= device.institution.name
            %td= device.device_model.full_name
            %td= device.site.try(:name)
