= render 'device_card' unless request.xhr?

.row
  .col
    %h4 Setup

    = react_component "DeviceSetup", device_model: @device.device_model.try { |device_model| { support_url: device_model.support_url, setup_instructions_url: device_model.setup_instructions.present? ? device_model.setup_instructions.url : "" } }

    %p
      The Device Id and Secure Key allow your device to identify itself with CDx.

- if @device.device_model.supports_activation?
  .row
    .col.pe-2 Activation token
    #activation-token.col
      = render 'activation_token'
- else
  .row
    .col.pe-2 Device Id
    .col
      .uuid= @device.uuid
      %p= barcode @device.uuid

  .row
    .col.pe-2 Secret Key
    #secret-key.col
      = render 'secret_key'
