%p#notice= notice
%p
  %strong Name:
  = @device.name
%p
  %strong Work group:
  = @device.work_group.try(:name)
%p
  %strong Secret Key:
  = @device.secret_key
  = link_to "Generate new key", regenerate_key_device_path(@device)
= link_to 'Edit', edit_device_path(@device)
|
= link_to 'Back', devices_path
