.row
  .col
    = cdx_table title: 'Incidents' do |t|
      - t.columns do
        %col{:width => "25%"}
        %col{:width => "25%"}
        %col{:width => "25%"}
        %col{:width => "25%"}
      - t.thead do
        %tr
          %th Alert Name
          %th Alert Creator
          %th Date Created
          %th Test Result
      - t.tbody do
        - incidents.each do |incident|
          %tr
            %td= link_to incident.alert.name, edit_alert_path(incident.alert)  
            %td= link_to incident.user.email, edit_user_path(incident.user.id)
            %td= link_to incident.created_at.to_formatted_s(:long), edit_alert_path(incident.alert)
            - if incident.test_result != nil
              %td= link_to 'View',test_result_path(incident.test_result.uuid)
            -else
              %td 'No Result'
