- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            Incidents

.row
  .col
    - if @incidents.empty?
      = empty_data title: "No incidents", icon: 'icon-outline-alert xx-large' do |c|
        - c.body do
          %h1 There are incidents on this site
          %p Create alert groups in order to keep your team notified on current events
    - else
      = cdx_table title: pluralize(@total, "incident") do |t|
        - t.columns do
          %col{:width => "25%"}
          %col{:width => "25%"}
          %col{:width => "25%"}
          %col{:width => "25%"}
        - t.thead do
          %tr
            %th Alert Group
            %th Devices
            %th Date
            %th Test Result
        - t.tbody do
          - @incidents.each do |incident|
            %tr
              %td= link_to truncate(incident.alert.name, length: 20), edit_alert_path(incident.alert)
              %td= link_to display_devices(incident.alert), edit_alert_path(incident.alert)
              %td= link_to incident.created_at.to_formatted_s(:long), edit_alert_path(incident.alert)
              - if incident.test_result != nil
                %td= link_to 'View',test_result_path(incident.test_result.uuid)
              -else
                %td 'No Result'

      .pagination
        = render 'shared/pagination'

