.row-fluid
  .span12.well-white
    %form.form-inline
      %label Laboratory:
      %select(name="laboratory")
        %option(value="") (all)
        = options_from_collection_for_select @combo_laboratories, :id, :name, params["laboratory"]
      %label Condition:
      %input{type: "text", name: "condition", value: params["condition"]}
      %input.btn.btn-small{type: "submit", value: "Filter"}

      - if params["condition"].present?
        - query = {'laboratory.id' => params["laboratory"], 'test.assays.condition' => params["condition"]}
        = link_to "Save this filter", new_filter_path(query: query)

.row-fluid
  .span12
    %table.table
      %tr
        %th Created at
        %th Institution
        %th Laboratory
        %th Device
        %th Condition
        %th Result
      - @tests.each do |test|
        %tr
          %td= test["test"]["reported_time"]
          %td= test["institution"]["name"]
          %td= test["laboratory"]["name"]
          %td= test["device"]["name"]
          %td= test["test"]["assays"].first["condition"]
          %td= test["test"]["assays"].first["result"]
