= render "filters"

.row
  .col
    - if @tests.empty?
      = empty_data icon: 'icon-outline-test xx-large' do |c|
        - c.body do
          %h1 No #{@display_as == "test" ? "tests" : "test results"} have been reported
          %p Setup your devices first in order to start reporting
    - else
      - if @display_as == "test"
        = react_component "TestResultsIndexTable", tests: @json, title: pluralize(@total, "test"),
            orderBy: @order_by, showSites: @show_sites, showDevices: @show_devices,
            downloadCsvPath: test_results_path(@filter.merge(format: :csv).merge(display_as: @display_as))
      - else
        = react_component "TestOrdersIndexTable", tests: @json, title: pluralize(@total, "test order"),
            orderBy: @order_by, showSites: @show_sites, showDevices: @show_devices,
            downloadCsvPath: test_results_path(@filter.merge(format: :csv).merge(display_as: @display_as))

      .pagination
        = render 'shared/pagination'
        -# if @display_as == "test"
        -#  = link_to "Add filter", new_filter_path(query: @filter), class: 'pull-right'

