%div{style: 'border: 1px solid gray; padding:10px'}
  %form
    Laboratory:
    %select(name="laboratory")
      %option(value="") (all)
      = options_from_collection_for_select @combo_laboratories, :id, :name, params["laboratory"]
    Condition:
    %input{type: "text", name: "condition", value: params["condition"]}
    %input{type: "submit", value: "Filter"}

    - if params["laboratory"].present? && params["condition"].present?
      = link_to "Create a subscriber for this filter", new_subscriber_path(laboratory: params["laboratory"], condition: params["condition"])

%br

%table.table
  %tr
    %th Created at
    %th Institution
    %th Laboratory
    %th Device
    %th Assay name
    %th Results
  - @test_results.each do |result|
    %tr
      %td= result["created_at"]
      %td= @institutions[result["institution_id"]]
      %td= @laboratories[result["laboratory_id"]]
      %td= @devices[result["device_uuid"]]
      %td= result["assay_name"]
      %td= (result["analytes"] || []).map { |r| "#{r["condition"]}: #{r["result"]}" }.join ", "
