= render "filters"

.row
  .col

    = cdx_table title: pluralize(@total, "Test") do |t|
      - t.actions do
        = link_to "download CSV", csv_test_results_path(@filter)

      - t.thead do
        %tr
          - each_column do |id, title, sortable|
            %th= sortable ? order_by_column(title, id) : title
      - t.tbody do
        - @tests.each do |test|
          %tr{data: {href: test_result_path(test['test']['uuid']) }}
            - each_column do |id|
              %td= formatted_test_value(test, id, web: true)
    .pagination
      = link_to "<", previous_page_params, disabled: !has_previous_page, class: 'btn-link'
      = link_to ">", next_page_params, disabled: !has_next_page, class: 'btn-link'
      %input.input-x-small.text-right{type: "text", name: "page", value: @page}
      %span
        of
        = (@total.to_f / @page_size).ceil
      %span(style="display: inline-block;")
        = cdx_select name: "page_size_select", value: @page_size, class: 'input-large' do |select|
          - select.items PagingHelper::PAGE_SIZE_OPTIONS, :second, :first
      :javascript
        $(function(){
          $(document).on('change', 'input[name=page_size_select]', function(){
            $('input[name=page_size]').val($(this).val());
            $('#filters-form').submit();
          });
        })

      = link_to "Add filter", new_filter_path(query: @filter), class: 'pull-right'
