- content_for(:leftcolumn) do
  .centered
    = link_to "←", :back, class: 'fixed', title: 'Back'

.row
  .col
    %h1= @test_result.core_fields['name']

.row
  .col
    %b= @test_result.core_fields['name']
    %span= @test_result.core_fields['start_time'].strftime('%B %e, %Y')
    %div
      Patient
      -# TODO add link to patient
      = @test_result.patient.plain_sensitive_data['name']

    %div
      Test performed on
      %span
        = link_to @test_result.device.name, edit_device_path(@test_result.device)
      by
      = @test_result.core_fields['lab_user']
    - if @test_result.device.laboratory
      %div
        at
        = @test_result.device.laboratory

.row
  .col
    %label Assays
    %ul
      - @test_result.core_fields['assays'].each do |assay|
        %li
          = assay['name'].upcase
          \ ----
          = assay['result'].titleize


.row
  .col
    %label Additional data
    %ul
      - @test_result.custom_fields.each do |key, value|
        %li
          = key.humanize
          \ ----
          - case key
          - when 'bands'
            %span
              - value.split(';').each do |band|
                = band
                %br
          - else
            = value

- @test_result.core_fields.each do |key, value|
  - next if ['name', 'lab_user', 'assays'].include?(key)
  .row
    .col
      %label= key.humanize
      %span= value

.row
  .col
    %label Sample
    %span= @test_result.sample.core_fields['id']
    -# TODO add barcode and print button


.row
  .col
    %label Other tests
    %span
    - case @other_tests.count
    - when 0
      No other test was made with this sample
    - when 1
      = link_to @other_tests.first.core_fields['name'], test_result_path(@other_tests.first.uuid)
      was also made with this sample
    - else
      = @other_tests.map { |t| link_to t.core_fields['name'], test_result_path(t.uuid) }.to_sentence.html_safe
      were also made with this sample
