= form_for(@laboratory) do |f|
  - if @laboratory.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @laboratory.errors.full_messages.each do |msg|
            %li= msg

  .row.grid_sm
    - if @institutions.one?
      = hidden_field :laboratory, :institution_id
    - else
      .col.pe-2
        - if @laboratory.new_record?
          = f.label :institution, class: 'control-label'
          = f.collection_select :institution_id, @institutions, :id, :name, {}, class: 'ddown'
        - else
          %label Institution
          %p= @laboratory.institution

  .row
    .col.pe-2
      = f.label :name, :class => 'control-label'
      %div
        = f.text_field :name, :class => 'input-large'
  .row
    .col.pe-2
      = f.label :location_geoid, "Location", :class => 'control-label'
      = f.hidden_field :location_geoid, class: 'input-xxlarge'

  .row
    .col.pe-2
      = f.submit class: 'btn'
