= form_for([@institution, @laboratory]) do |f|
  - if @laboratory.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @laboratory.errors.full_messages.each do |msg|
            %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .control
      = f.text_field :name, :class => 'input-large'
  .control-group
    = f.label :location_geoid, "Location", :class => 'control-label'
    .control
      = f.hidden_field :location_geoid, class: 'input-xxlarge'

  .control-group
    .control
      = f.submit class: 'btn'
