= form_for([@institution, @laboratory]) do |f|
  - if @laboratory.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @laboratory.errors.full_messages.each do |msg|
            %li= msg

  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :location_id
    = f.select :location_id, nested_set_options(Location) {|i| "#{'-' * i.level} #{i.name}" }

  = f.submit class: 'btn'
