- content_for(:leftcolumn) do
  - if @can_create
    .centered
      = link_to "+", new_laboratory_path, class: 'btn-add fixed', title: 'Add filter'
.row.grid_sm
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} Laboratories
      %tr
        %th Name
        %th Institution
        %th Location
      - @laboratories.each do |laboratory|
        %tr
          - if @labs_to_edit.include?(laboratory.id)
            %td= link_to laboratory.name, edit_laboratory_path(laboratory)
          - else
            %td= laboratory.name
          %td= laboratory.institution.name
          %td= laboratory.location.try(:name)

