- unless @institutions.one?
  .row
    .col
      %h1 Filters
  %form
    .row
      .col
        %label.block Institution
        %select.ddown(name="institution")
          %option(value="") (all)
          = options_from_collection_for_select @institutions, :id, :name, params["institution"]
        %input.btn-primary.pull-right{type: "submit", value: "Filter"}

.row
  .col
    - if @can_create
      = link_to "+", new_laboratory_path, class: 'btn-add side-link fix', title: 'Add Laboratory'
    = cdx_table title: 'Laboratories' do |t|
      - t.thead do
        %tr
          %th Name
          - unless @institutions.one?
            %th Institution
          %th Location
      - t.tbody do
        - @laboratories.each do |laboratory|
          %tr{data: {href: laboratory_path(laboratory) }}
            %td= laboratory.name
            - unless @institutions.one?
              %td= laboratory.institution.name
            %td= laboratory.location.try(:name)
