- content_for(:leftcolumn) do
  - if @can_create
    .centered
      = link_to "+", new_laboratory_path, class: 'btn-add fixed', title: 'Add Laboratory'

- unless @institutions.one?
  .row
    .col
      %h1 Filters
  %form
    .row
      .col
        %label.block Institution
        %select.ddown(name="institution")
          %option(value="") (all)
          = options_from_collection_for_select @institutions, :id, :name, params["institution"]
        %input.btn-primary.pull-right{type: "submit", value: "Filter"}

.row
  .col
    - cdx_table do
      %tr
        %th.tableheader{colspan:100} Laboratories
      %tr
        %th Name
        - unless @institutions.one?
          %th Institution
        %th Location
      - @laboratories.each do |laboratory|
        %tr{data: (@labs_to_edit.include?(laboratory.id) ? {href: edit_laboratory_path(laboratory) } : {})}
          %td= laboratory.name
          - unless @institutions.one?
            %td= laboratory.institution.name
          %td= laboratory.location.try(:name)
