.row
  .col
    = link_to "+", new_api_token_path, class: 'btn-add side-link ontop fix', title: 'Add API Token'
    = cdx_table title: 'API Tokens' do |t|
      - t.thead do
        %tr
          %th Token
          %th
      - t.tbody do
        - @api_tokens.each do |token|
          %tr
            %td= token.token
            %td= link_to "Delete", api_token_path(token.id), method: :delete, data: {confirm: "Are you sure you want to delete the following token?\n#{token.token}"}

