- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            = link_to "+", new_api_token_path, class: 'btn-add side-link fix', title: 'Add API Token'
            API tokens

.row
  .col
    - if @api_tokens.empty?
      = empty_data title: 'No API tokens' do |c|
        - c.body do
          %h1 There are no api tokens
    - else
      = cdx_table title: pluralize(@api_tokens.count, "API token") do |t|
        - t.columns do
          %col{:width => "90%"}
          %col{:width => "10%"}
        - t.thead do
          %tr
            %th Token
            %th
        - t.tbody do
          - @api_tokens.each do |token|
            %tr
              %td= token.token
              %td= link_to "Delete", api_token_path(token.id), method: :delete, data: {confirm: "Are you sure you want to delete the following token?\n#{token.token}"}
