= cdx_form_for(@user) do |f|
  .row
    .col
      = f.form_field :name, value: f.object.full_name
      = f.form_field :email, value: f.object.email
      = f.form_field :telephone, value: f.object.telephone

      = f.form_field :roles do
        = react_component 'OptionList', chosenOnes: @user_roles, callback: "/users/#{@user.id}/assign_role", autocompleteCallback: "/roles/autocomplete"
    .col
      .box.small.gray
        - if @can_update
          = f.form_field :is_active do
            = f.check_box :is_active, class: 'power'
            %label{:for => 'user_is_active'} Can access Cdx?
        = f.form_field :last_sign_in_at, value: last_activity(f.object)

  - if @can_update
    = f.form_actions do
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', users_path,  class: 'btn-link'
