= form_for(@user) do |f|
  .row
    .col.pe-6
      .row
        .col.pe-2
          = f.label :name
        .col
          .value= f.object.full_name
      .row
        .col.pe-2
          = f.label :email
        .col
          .value= f.object.email
      .row
        .col.pe-2
          = f.label :telephone, "Phone"
        .col
          .value= f.object.telephone
      .row
        .col.pe-2
          = f.label :roles
        .col
          .value
            = react_component 'OptionList', chosenOnes: @user_roles, userId: @user.id
    .col.pe-6
      - if @can_update
        .row
          .col.pe-2
            .value= f.label :is_active, "Status"
          .col
            = f.check_box :is_active
            = f.label :is_active, "&nbsp; Can access Cdx?".html_safe
      .row
        .col.pe-2
          = f.label :last_sign_in_at, "Activity"
        .col
          .value= last_activity(f.object)
  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
