- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          = react_component "AddUserLink", roles: @roles
          %h1
            Users
.row
  .col
    = cdx_table do |t|
      - t.columns do
        %col{:width => "30%"}
        %col{:width => "30%"}
        %col{:width => "30%"}
      - t.actions do
        = link_to "download CSV", users_path(format: :csv)

      - t.thead do
        %tr
          %th Full name
          %th Roles
          %th Last Activity
      - t.tbody do
        - @users.each do |user|
          %tr{class: (user.invited_pending? ? "pending" : ""), data: {href: edit_user_path(user.id)}}
            %td= user.full_name
            %td= user.roles.map(&:name).join(", ")
            %td= last_activity(user)
