- if device_model.errors.present?
  .alert-container
    .alert.alert-error
      %ul
        - if device_model.errors.present? 
          - device_model.errors.full_messages.each do |msg|
            %li= msg
= form_for(device_model) do |f|
  = f.label :name, :class => 'label'
  = f.text_field :name, :rows => '5', :class => 'input-xx-large '
  = f.fields_for :manifest do |manifest_form|
    - if device_model.manifest.version
      %p
        %strong Version:
        = device_model.manifest.version

    .row
      .col
        = manifest_form.label :definition, :class => 'label'
        = manifest_form.text_area :definition, :rows => '5', :class => 'input-xx-large '

  .row
    .col
      = f.submit class: 'btn-primary'
