- if @device_model.errors.present?
  .alert-container
    .alert.alert-error
      %ul
        - if @device_model.errors.present?
          - @device_model.errors.full_messages.each do |msg|
            %li= msg

= form_for(@device_model) do |f|
  = render 'shared/select_institution_or_hidden', f: f
  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name
  = f.fields_for :manifest do |manifest_form|
    - if @device_model.manifest.version
      %p
        %strong Version:
        = @device_model.manifest.version

    .row
      .col.pe-2
        = manifest_form.label :definition
      .col
        = manifest_form.text_area :definition, :rows => '5'

  .row.button-actions
    .col
      = f.submit class: 'btn-primary', value: "Save"
      - if can_delete_device_model?(@device_model)
        = link_to "Delete", @device_model, method: :delete, data: { confirm: "Are you sure you want to delete this device model?" }


  %hr/
  - if @device_model.published?
    - can_unpublish = can_unpublish_device_model?(@device_model)
    .row
      .col
        This device model is published; all institutions in CDX may register devices using it.
        - if can_unpublish
          You may withdraw it as long as there are no devices outside this institution using this device model.
    - if can_unpublish
      .row.button-actions
        .col
          %button{type: 'submit', class: 'btn-secondary', name: 'unpublish', value: "1", id: 'device-model-publish'}
            Withdraw
  -else
    .row
      .col
        This device model is not yet published; only devices from its manufacturer can be created using this model. Publishing it will make it available to all institutions in CDX.
    - if can_publish_device_model?(@device_model)
      .row.button-actions
        .col
          %button{type: 'submit', class: 'btn-secondary', name: 'publish', value: "1", id: 'device-model-publish'}  Publish
