- if @device_model.errors.present?
  .alert-container
    .alert.alert-error
      %ul
        - if @device_model.errors.present?
          - @device_model.errors.full_messages.each do |msg|
            %li= msg

= form_for(@device_model, html: { multipart: true }) do |f|
  = render 'shared/select_institution_or_hidden', f: f, label_col_class: 'pe-3'
  .row
    .col.pe-3
      = f.label :name
    .col
      = f.text_field :name

  .row
    .col.pe-3
      = f.label :picture
    .col
      - unless @device_model.picture.blank?
        = image_tag @device_model.picture.url(:card)
        = f.check_box :delete_picture
        = f.label :delete_picture
        %br
      = f.file_field :picture

  = f.fields_for :manifest do |manifest_form|
    .row
      .col.pe-3
        = manifest_form.label :definition
      .col
        - if !@device_model.new_record? && @device_model.manifest.definition
          = link_to @device_model.manifest.filename, manifest_device_model_path(@device_model)
          %br
          Upload new version
        = manifest_form.file_field :definition

  .row
    .col.pe-3
      = f.label :supports_activation
    .col
      = f.check_box :supports_activation
      = f.label :supports_activation, "&nbsp;".html_safe

  .row
    .col.pe-3
      = f.label :support_url
    .col
      = f.text_field :support_url


  .row.button-actions
    .col
      = f.submit class: 'btn-primary', value: "Save"
      - if can_delete_device_model?(@device_model)
        = link_to "Delete", @device_model, method: :delete, data: { confirm: 'Are you sure you want to delete this device model? All devices using this device model will be deleted as well, along with any tests they may have uploaded.' }


  %hr/
  = render 'publish'
