:javascript
  $(function(){
    // recheck delete checkbox if user cancel the open file dialog
    // and ensure delete checkbox is not checked if a files is selected
    $('#device_model_setup_instructions, #device_model_picture').change(function(){
      var fileInput = $(this);
      var deleteCheckbox = $(fileInput.data('remove-checkbox'));
      var isFileChosen = fileInput.val() != '';
      deleteCheckbox.prop('checked', !isFileChosen);
    });

    // Show filename pattern block only if ftp is checked
    $('#device_model_supports_ftp').change(function() {
      var checked = $(this).is(':checked');
      $('.device-model-filename-pattern').toggle(checked).find('input').prop('disabled', !checked);
    }).trigger('change');
  });

  $(document).ready(function(){
    // Drag Picture to an input file and preview it
    var imageLoader = document.getElementById('device_model_picture');
        imageLoader.addEventListener('change', handleImage, false);

    function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {

            $('.upload-new-file img').attr('src',event.target.result).addClass('uploaded');
        }
        reader.readAsDataURL(e.target.files[0]);
    }


    // Change the class on the target zone when dragging a file over it

    document.addEventListener("dragenter", function( event ) {
      if ( event.target.className == "upload-picture" ) {
          $('.choose-picture').addClass('on');
      }

    }, false);

    document.addEventListener("dragleave", function( event ) {
      if ( event.target.className == "upload-picture" ) {
          $('.choose-picture').removeClass('on');
      }
    }, false);

    $(".clear-label").on('click', function () {
      $(this).closest('.file-uploaded').addClass('remove');
    });
  });

= validation_errors @device_model

= form_for(@device_model, html: { multipart: true }) do |f|
  .row
    .col
      .row
        .col.pe-4
          = f.label :institution
        .col
          .value= f.object.institution

      .row
        .col.pe-4
          = f.label :name
        .col
          = f.text_field :name



      = f.fields_for :manifest do |manifest_form|
        .row
          .col.pe-4
            = manifest_form.label :definition
          .col
            - if !@device_model.new_record? && @device_model.manifest.definition
              .file-uploaded
                %label.input.on
                  = link_to @device_model.manifest.filename, manifest_device_model_path(@device_model)
                  %a.clear-label{:href => "#"}
                    = image_tag "ic-cross.png"
            .upload-new-file
              = manifest_form.file_field :definition, :class => "inputfile"
              %label{:for => 'device_model_manifest_attributes_definition'}
                %span
                  .iconb-upload
                  Choose a file to upload
                %a.clear-input{:href => "#"}
                  = image_tag "ic-cross.png"

      .row
        .col.pe-4
          = f.label :setup_instructions
        .col
          - if !@device_model.new_record? && @device_model.setup_instructions.present?
            .file-uploaded
              %label.input.on
                = link_to "download", @device_model.setup_instructions.url
                .clear-label
                  = f.check_box :delete_setup_instructions
                  %label.cross{:for => 'device_model_delete_setup_instructions'}
                    = image_tag "ic-cross.png"
          .upload-new-file
            = f.file_field :setup_instructions, :class => "inputfile", 'data-remove-checkbox' => '#device_model_delete_setup_instructions'
            %label{:for => 'device_model_setup_instructions'}
              %span
                .iconb-upload
                Choose a file to upload
              %a.clear-input{:href => "#"}
                = image_tag "ic-cross.png"
          .text-small.muted Only PDF files below 5MB are allowed


      .row
        .col.pe-4
          = f.label :supports_activation
        .col
          = f.check_box :supports_activation
          = f.label :supports_activation, "&nbsp;".html_safe

      .row
        .col.pe-4
          = f.label :support_url
        .col
          = f.text_field :support_url

      .row
        .col.pe-4
          = f.label :supports_ftp
        .col
          = f.check_box :supports_ftp
          = f.label :supports_ftp, "&nbsp;".html_safe

      .row.device-model-filename-pattern
        .col.pe-4
          = f.label :filename_pattern
        .col
          = f.text_field :filename_pattern

    .col
      .choose-picture
        - unless @device_model.new_record? || @device_model.picture.blank?
          .file-uploaded
            .clear-label
              = f.check_box :delete_picture
              %label.cross{:for => 'device_model_delete_picture'}
                = image_tag "ic-cross.png"
            = image_tag @device_model.picture.url(:card)
        .upload-new-file.picture
          .upload-picture-title
            %span.ic140-picture
            %h2
              Drop a picture here
              %br or click to upload a file
          %img{:src => ""}
          = f.file_field :picture, :class => "upload-picture", 'data-remove-checkbox' => '#device_model_delete_picture'

  .row.button-actions
    .col
      %hr
      = f.submit class: 'btn-primary', value: "Save"
      = link_to 'Cancel', device_models_path, class: 'btn-link'
      - if can_delete_device_model?(@device_model)
        = link_to "Delete", @device_model, method: :delete, data: { confirm: 'Are you sure you want to delete this device model? All devices using this device model will be deleted as well, along with any tests they may have uploaded.' }, class: 'btn-danger pull-right'
  %br
  .box.light
    = render 'publish'

:javascript
  custom_input_file( jQuery, window, document );
