- if @device_model.errors.present?
  .alert-container
    .alert.alert-error
      %ul
        - if @device_model.errors.present?
          - @device_model.errors.full_messages.each do |msg|
            %li= msg

= form_for(@device_model) do |f|
  = render 'shared/select_institution_or_hidden', f: f
  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name
  = f.fields_for :manifest do |manifest_form|
    - if @device_model.manifest.version
      %p
        %strong Version:
        = @device_model.manifest.version

    .row
      .col.pe-2
        = manifest_form.label :definition
      .col
        = manifest_form.text_area :definition, :rows => '5'

  .row.button-actions
    .col
      = f.submit class: 'btn-primary'
