= cdx_form_for(@device_model, html: { multipart: true }) do |f|
  .row
    .col
      = f.form_field :institution, value: f.object.institution

      = f.form_field :name do
        = f.text_field :name

      = f.fields_for :manifest do |manifest_form|
        = manifest_form.form_field :definition do
          - if !@device_model.new_record? && @device_model.manifest.definition
            .file-uploaded
              %label.input.on
                = link_to @device_model.manifest.filename, manifest_device_model_path(@device_model)
                %a.clear-label{:href => "#"}
                  = image_tag "ic-cross.png"
          .upload-new-file
            = manifest_form.file_field :definition, :class => "inputfile"
            %label{:for => 'device_model_manifest_attributes_definition'}
              %span
                = icon "upload", class: "icon-blue"
                Choose a file to upload
              %a.clear-input{:href => "#"}
                = image_tag "ic-cross.png"

      = f.form_field :setup_instructions do
        - if !@device_model.new_record? && @device_model.setup_instructions.present?
          .file-uploaded
            %label.input.on
              = link_to "download", @device_model.setup_instructions.url
              .clear-label
                = f.check_box :delete_setup_instructions
                %label.cross{:for => 'device_model_delete_setup_instructions'}
                  = image_tag "ic-cross.png"
        .upload-new-file
          = f.file_field :setup_instructions, :class => "inputfile", 'data-remove-checkbox' => '#device_model_delete_setup_instructions'
          %label{:for => 'device_model_setup_instructions'}
            %span
              = icon "upload", class: "icon-blue"
              Choose a file to upload
            %a.clear-input{:href => "#"}
              = image_tag "ic-cross.png"
        .text-small.muted Only PDF files below 5MB are allowed


      = f.form_field :supports_activation do
        = f.check_box :supports_activation

      = f.form_field :support_url do
        = f.text_field :support_url

      = f.form_field :supports_ftp do
        = f.check_box :supports_ftp

      = f.form_field :filename_pattern do
        = f.text_field :filename_pattern

    .col
      .choose-picture
        - unless @device_model.new_record? || @device_model.picture.blank?
          .file-uploaded
            .clear-label
              = f.check_box :delete_picture
              %label.cross{:for => 'device_model_delete_picture'}
                = image_tag "ic-cross.png"
            = image_tag @device_model.picture.url(:card)
        .upload-new-file.picture
          .upload-picture-title
            = icon "outline-picture", class: "xx-large"
            %h2
              Drop a picture here
              %br or click to upload a file
          %img{:src => ""}
          = f.file_field :picture, :class => "upload-picture", 'data-remove-checkbox' => '#device_model_delete_picture'

  = f.form_actions do
    %hr
    = f.submit class: 'btn-primary', value: "Save"
    = link_to 'Cancel', device_models_path, class: 'btn-link'
    - if can_delete_device_model?(@device_model)
      = link_to "Delete", @device_model, method: :delete, data: { confirm: 'Are you sure you want to delete this device model? All devices using this device model will be deleted as well, along with any tests they may have uploaded.' }, class: 'btn-danger pull-right'
  %br
  .box.light
    = render 'publish'

:javascript
  custom_input_file( jQuery, window, document );
