.barcode-card.is-box
  .barcode-content
    .barcode(style="float:right")
      = image_tag barcode_svg_data_url(@box.uuid)

    .title
      = @box.institution.name
    .code
      Box ID #{@box.uuid}
    .code
      Purpose: #{@box.purpose}
    .logo
      = image_tag 'cdx-logo-bw.png'
      .label https://cdx.io
