= cdx_form_for(@box_form, html: { multipart: true }) do |f|
  .row
    .col
      .row.form-field
        .col.form-field__label
          %label Purpose
        .col
          = cdx_select form: f, name: :purpose, searchable: false, :class => 'input-large', required: true do |select|
            - select.items Box.purposes
          = f.field_errors :purpose

      = f.form_field :media do
        = cdx_select form: f, name: :media, searchable: false, class: "input-large" do |select|
          - select.items Sample.media

      .row.form-field
        .col.form-field__label
          %label Samples
        .col.radiotoggle
          = f.radio_button :option, "add_batches",  required: true
          = f.label :option, "Create new samples", value: "add_batches"
          = f.radio_button :option, "add_samples"
          = f.label :option, "Select samples from inventory", value: "add_samples"
          = f.radio_button :option, "add_csv"
          = f.label :option, "Create from CSV file", value: "add_csv"

      .row.form-field
        .col.form-field__label
          %label Contents
        .col
          %fieldset#add_batches{ :disabled => @box_form.option != "add_batches", :style => (@box_form.option == "add_batches" ? "" : "display: none") }
            = react_component "BoxBatchesForm", { findBatchUrl: autocomplete_batches_path(format: "json", context: params[:context]),
              batches: @box_form.batches_data }

          %fieldset#add_samples{ :disabled => @box_form.option != "add_samples", :style => (@box_form.option == "add_samples" ? "" : "display: none") }
            = react_component "SamplesSelector", { url: autocomplete_samples_path(format: "json", context: params[:context], qc: 0),
              name: "box[sample_uuids]", placeholder: "Enter sample id", className: "input-block",
              samples: @box_form.samples_data }

          %fieldset#add_csv{ :disabled => @box_form.option != "add_csv", :style => (@box_form.option == "add_csv" ? "" : "display: none") }
            #uploaded-files

            .row
              .col
                = react_component "UploadCsvBox", { name: "box[csv_box]", context: @navigation_context.uuid, csrf_token: form_authenticity_token}
            .row
              #validating-spinner.hidden
                .spinner
          .spinner
            .row
              =link_to '/templates/upload_box.csv', class: 'btn-link', target: "_blank" do
                .icon-download.icon-gray
                %span.btn-download
                  CSV template
            .row.errors.hidden#csv-file-error
              No samples were found in the CSV file or it has an invalid format.
              %br
              Please check the template and try again.

  .row
    .col
      = f.check_box :blinded
      = f.label :blinded, "Blind samples (you'll be able to unblind them later from transfer details)"

  = f.form_actions do
    = f.submit 'Save', class: 'btn-primary', id: 'btn-save'
    = link_to 'Cancel', boxes_path, class: 'btn-link'

.sample-source-change-modal-container.hidden
  = react_component("ConfirmationModal",
                      deletion: true,
                      cancelFunction: "cancelSampleSourceChange",
                      confirmFunction: "confirmSampleSourceChange",
                      id: "sample-source-confirmation-modal",
                      colorClass: "red",
                      confirmMessage: "Continue",
                      title: "Warning",
                      message: "If you change the sample source, the box contents will be emptied. ")

= render 'upload_csv_box'

:javascript
  var sourcesRadio = document.querySelectorAll(".radiotoggle input");
  var oldSource = null;
  var confirmSampleSourceChange;

  var applySampleSourceChange = function (displayField) {
    // Hide all the fields and disable them
    sourcesRadio.forEach(function(otherRadio) {
      document.getElementById(otherRadio.value).style.display = 'none';
      document.getElementById(otherRadio.value).setAttribute("disabled", true);
    });

    // Show the selected field and enable it
    document.getElementById(displayField.value).style.display = 'block';
    document.getElementById(displayField.value).removeAttribute("disabled");

    // Clear the selectors contents
    document.querySelector(".clear-batches").click()
    document.querySelector(".clear-samples").click()
    // Clear the CSV file and re-enable the add button
    document.getElementById("uploaded-files").innerHTML = "";
  //  document.getElementById(`add-box-file`).style.display = 'block';
    document.querySelector(".csv_file").value = '';
  }

  function showConfirmModal() {
    document.querySelector(`.sample-source-change-modal-container`).style.visibility = 'visible';
  }

  function hideConfirmModal() {
    document.querySelector(`.sample-source-change-modal-container`).style.visibility = 'hidden';
  }

  function confirmSampleSourceChangeFn() {
    applySampleSourceChange(this);
    hideConfirmModal();
    // Update the old source only if the user confirmed the change
    oldSource = this;
  }

  function cancelSampleSourceChange() {
    hideConfirmModal();
    // Check back the old source since it was not changed
    oldSource.checked = true;
  }

  sourcesRadio.forEach(function(radio) {
    radio.addEventListener("change", function(evt) {
      if (oldSource) {
        confirmSampleSourceChange = confirmSampleSourceChangeFn.bind(this)
        showConfirmModal();
      } else {
        // For the first time, simulate that the user clicked on the confirm button
        confirmSampleSourceChangeFn.call(this);
      }
    });
  });
