= form_for(@box_form.box) do |f|

  = validation_errors @box_form, :base

  .row
    .col
      .row.form-field
        .col.pe-3
          = f.label :purpose
        .col
          = react_component "CdxSelectSectionToggler", { name: "box[purpose]", items: Box.purposes.map { |v| { label: v, value: v } }, value: @box_form.purpose, submit: "#btn-save" }

      .row.form-field
        .col.pe-3
          %label Contents
        .col
          %fieldset#LOD(disabled)
            .row
              .col.pe-2
                = label_tag "box_batch_numbers_lod", "Batch", class: "is-normal-case"
              .col
                = field_with_error @box_form, "lod", full_message: false do
                  = text_field_tag "box[batch_numbers][lod]", @box_form.batch_numbers["lod"], id: "box_batch_numbers_lod", placeholder: "Enter batch id", class: "input-block"

          %fieldset#Variants(disabled)
            - 1.upto(6) do |index|
              - key = "variant_#{index}"
              .row
                .col.pe-2
                  = label_tag "box_batch_numbers_#{key}", "Variant #{index}", class: "is-normal-case"
                .col
                  = field_with_error @box_form, key, full_message: false do
                    = text_field_tag "box[batch_numbers][#{key}]", @box_form.batch_numbers[key], id: "box_batch_numbers_#{key}", placeholder: "Enter batch id", class: "input-block"

          %fieldset#Challenge(disabled)
            .row
              .col.pe-2
                = label_tag "box_batch_numbers_virus", "Virus", class: "is-normal-case"
              .col
                = field_with_error @box_form, "virus", full_message: false do
                  = text_field_tag "box[batch_numbers][virus]", @box_form.batch_numbers["virus"], id: "box_batch_numbers_virus", placeholder: "Enter batch id", class: "input-block"

            - 1.upto(6) do |index|
              - key = "distractor_#{index}"
              .row
                .col.pe-2
                  = label_tag "box_batch_numbers_#{key}", "Distractor #{index}", class: "is-normal-case"
                .col
                  = field_with_error @box_form, key, full_message: false do
                    = text_field_tag "box[batch_numbers][#{key}]", @box_form.batch_numbers[key], id: "box_batch_numbers_#{key}", placeholder: "Enter batch id", class: "input-block"

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary', id: 'btn-save'
      = link_to 'Cancel', boxes_path, class: 'btn-link'
