.barcode-card-print
  .barcode-content
    .barcode
      = image_tag barcode_img_data_url(box.uuid)
    .code
      .uuid
        #{box.uuid}
    .code
      Box: #{box.samples.count} samples
    .code
      Institution: #{(box.institution.name).truncate(9)}
    .code
      Purpose: #{box.purpose}
    .logo
      = image_tag wicked_pdf_asset_base64('cdx-logo-bw.png')
      .label https://cdx.io
