.barcode-card-print
  .barcode-content
    .barcode
      = image_tag barcode_img_data_url(box.uuid)
    .code
      .uuid
        #{box.uuid}
    .code
      #{(box.institution.name).truncate(22)}
    .code
      #{box.purpose} (#{box.samples.count} samples)
    .logo
      = image_tag wicked_pdf_asset_base64('cdx-logo-bw.png')
      .label https://cdx.io
