= render "filters"

.row
  .col
    - if @boxes.empty?
      = empty_data icon: "icon-outline-box xx-large" do |c|
        - c.body do
          %h1 There are no boxes
          %p Every box can hold multiple samples
    - else
      =form_tag bulk_action_boxes_path, id: "boxes_form", method: :post do
        = cdx_table title: pluralize(@total, "box") do |t|
          - t.actions do
            =button_tag id: "bulk_destroy", class: "btn-link", name: "bulk_action", value: "destroy", data: { method: "delete", confirm: "You're about to permanently delete the selected batches. This action CANNOT be undone. Are you sure you want to proceed?" } do
              = icon "trash", class: "btn-icon"
          - t.columns do
            %col{:width => "5%"}
            %col{:width => "20%"}
            %col{:width => "35%"}
            %col{:width => "15%"}
            %col{:width => "25%"}
          - t.thead do
            %tr
              %th
              %th Box Id
              %th Purpose
              %th Samples
              %th Creation date
          - t.tbody do
            - @boxes.count_samples.each do |box|
              %tr.laboratory-sample-row{data: {href: box_path(box)}}
                %td
                  =check_box_tag "box_ids[]", box.id, false, { id: "box_ids.#{box.id}" }
                  %label.row{for: "box_ids.#{box.id}"}
                %td= short_uuid_with_title box.uuid
                %td= box.purpose
                %td= box.samples_count
                %td= l box.created_at, format: :traditional

      .pagination
        = render "shared/pagination"

:javascript
  function checkboxesName() { return "box_ids[]" }
  function actionsId() { return ["bulk_destroy"] }

= render "samples/index_bulk_actions_js"
