- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to boxes_path, class: "side-link", title: "Back" do
              = image_tag "arrow-left.png"
            Box detail

.row
  .col
    .row
      .col.pe-5
        %label ID
      .col
        .value= @box.uuid

    .row
      .col.pe-5
        %label Purpose
      .col
        .value= @box.purpose

  .col.pe-5
    .row
      .col
        = render "barcode_card"

        .barcode-after
          = link_to inventory_box_path(@box, format: "csv"), target: "_blank", class: 'btn-link' do
            .icon-download.btn-icon
            %span Download inventory

.row
  .col
    .row
      .col.pe-3
        %label Contents
      .col.pe-9
        - @samples.each do |sample|
          .col.pe-7.batches-samples
            .samples-row
              .samples-item= sample.uuid
              - unless blinded_attribute?(sample, :batch_number)
                .sample-row-action= sample.batch_number

- if @can_delete
  .row.button-actions
    .col
      = confirm_deletion_button @box, 'box'
