.row
  .logo
    = image_tag 'cdx-logo.png'

  %nav
    - if current_user && !@hide_nav_bar
      %ul
        - if can?(Policy::Actions::MEDICAL_DASHBOARD, TestResult)
          %li{:class => params[:controller] == "dashboards" && "active"}
            = link_to "Dashboard", nndd_path
        - if can_index_laboratories?
          %li{:class => params[:controller] == "laboratories" && "active"}
            = link_to "Labs", laboratories_path
        - if can_index_devices?
          %li{:class => params[:controller] == "devices" && "active"}
            = link_to "Devices", devices_path
        - if can_index_device_models?
          %li{:class => params[:controller] == "device_models" && "active"}
            = link_to "Models", device_models_path
        %li{:class => ["test_results", "encounters"].include?(params[:controller]) && "active"}
          = link_to "Tests", test_results_path
        %li{:class => params[:controller] == "filters" && "active"}
          = link_to "Filters", filters_path
        %li{:class => params[:controller] == "subscribers" && "active"}
          = link_to "Apps", subscribers_path
        %li{:class => params[:controller] == "policies" && "active"}
          = link_to "Users", policies_path

  .user{:tabindex => "0"}
    - if current_user
      %span= current_user.email
      %ul
        - unless @hide_user_settings
          %li= link_to "Settings", institutions_path
        %li= link_to "Sign out", destroy_session_path(:user), method: :delete
    - else
      = link_to "Sign in", new_session_path(:user)
