.row#header-fixed
  .logo
    = image_tag 'cdx-logo.png'

  - if @navigation_context.try(:entity)
    %a#nav-context(href='#'){title: @navigation_context.name}
      at
      = @navigation_context.name

  %nav#nav-bar
    - if current_user && !@hide_nav_bar
      %ul
        - if has_access?(TestResult, Policy::Actions::MEDICAL_DASHBOARD)
          %li{:class => params[:controller] == "dashboards" && params[:action] == "index" && "active"}
            = link_to "Home", dashboard_path

        -# ------------ REPORTS (just unindent the lines below to reactivate)
          - if has_access?(TestResult, Policy::Actions::MEDICAL_DASHBOARD)
            %li{:class => params[:controller] == "dashboards" && params[:action] == "nndd" && "active"}
              = link_to "Reports", nndd_path

        - if has_access_to_patients_index?
          %li{:class => params[:controller] == "patients" && "active"}
            = link_to "Patients", patients_path

        - if has_access_to_sites_index?
          %li{:class => params[:controller] == "sites" && "active"}
            = link_to "Sites", sites_path

        - if has_access_to_devices_index?
          %li{:class => params[:controller] == "devices" && "active"}
            = link_to "Devices", devices_path

        - if has_access?(Device, Policy::Actions::SUPPORT_DEVICE)
          %li{:class => params[:controller] == "device_messages" && "active"}
            = link_to "Logs", device_messages_path

        - if has_access_to_device_models_index?
          %li{:class => params[:controller] == "device_models" && "active"}
            = link_to "Models", device_models_path

        - if has_access_to_test_results_index?
          %li{:class => ["test_results", "encounters"].include?(params[:controller]) && "active"}
            = link_to "Tests", test_results_path

        - if has_access_to_users_index?
          -# Devise clears the controller param for users index
          %li{:class => (params[:controller] == "users" || !params[:controller]) && "active"}
            = link_to "Users", users_path
        - if has_access_to_settings?
          %li{:class => (["roles", "policies", "alerts", "incidents", "alert_messages"].include?(params[:controller]) || params[:action] == "settings") && "active"}
            = link_to "Settings", settings_path

  .user{:tabindex => "0"}
    - if current_user
      %span.icon-user.medium.icon-gray-light{title: current_user.email}
      %ul
        - unless @hide_my_account
          %li= link_to "My Account", edit_user_registration_path
        - if current_user && !@hide_nav_bar
          %li= link_to institution_name, institutions_path
          %li= link_to "API tokens", api_tokens_path
        %li= link_to "Log out", destroy_session_path(:user), method: :delete
    - else
      = link_to "Log in", new_session_path(:user)
