.row
  .logo
    = image_tag 'cdx-logo.png'

  - if @navigation_context.try(:entity)
    %a#nav-context(href='#')
      at
      = @navigation_context.name

  %nav
    - if current_user && !@hide_nav_bar
      %ul
        - if has_access?(TestResult, Policy::Actions::MEDICAL_DASHBOARD)
          %li{:class => params[:controller] == "dashboards" && "active"}
            = link_to "Reports", nndd_path
        - if has_access_to_patients_index?
          %li{:class => params[:controller] == "patients" && "active"}
            = link_to "Patients", patients_path
        - if has_access_to_sites_index?
          %li{:class => params[:controller] == "sites" && "active"}
            = link_to "Sites", sites_path
        - if has_access_to_devices_index?
          %li{:class => params[:controller] == "devices" && "active"}
            = link_to "Devices", devices_path
        - if has_access?(Device, Policy::Actions::SUPPORT_DEVICE)
          %li{:class => params[:controller] == "devicelogs" && "active"}
            = link_to "Logs", device_messages_path
        - if has_access_to_device_models_index?
          %li{:class => params[:controller] == "device_models" && "active"}
            = link_to "Models", device_models_path
        - if has_access_to_test_results_index?
          %li{:class => ["test_results", "encounters"].include?(params[:controller]) && "active"}
            = link_to "Tests", test_results_path
        - if can_delegate_permissions?
          %li{:class => params[:controller] == "policies" && "active"}
            = link_to "Policies", policies_path
        - if has_access?(Site, Policy::Actions::READ_SITE_USERS) || has_access?(Institution, Policy::Actions::READ_INSTITUTION_USERS)
          %li{:class => params[:controller] == "users" && "active"}
            = link_to "Users", users_path
        - if has_access?(Role, Policy::Actions::READ_ROLE)
          %li{:class => params[:controller] == "roles" && "active"}
            = link_to "Roles", roles_path

  .user{:tabindex => "0"}
    - if current_user
      %span= current_user.email
      %ul
        - unless @hide_user_settings
          %li= link_to "Settings", edit_user_registration_path
        - if current_user && !@hide_nav_bar
          %li= link_to "Edit institutions", institutions_path
          %li= link_to "API tokens", api_tokens_path
        %li= link_to "Log out", destroy_session_path(:user), method: :delete
    - else
      = link_to "Log in", new_session_path(:user)
