.row
  .logo
    = image_tag 'cdx-logo.png'

  %nav
    %ul
      %li{:class => params[:controller] == "dashboards" && "active"}
        = link_to "Dashboard", nndd_path
      %li{:class => params[:controller] == "laboratories" && "active"}
        = link_to "Labs", laboratories_path
      %li{:class => params[:controller] == "devices" && "active"}
        = link_to "Devices", devices_path
      %li{:class => params[:controller] == "locations" && "active"}
        = link_to "Locations", locations_path
      %li{:class => params[:controller] == "manifests" && "active"}
        = link_to "Manifests", manifests_path
      %li{:class => params[:controller] == "test_results" && "active"}
        = link_to "Tests", test_results_path
      %li{:class => params[:controller] == "filters" && "active"}
        = link_to "Filters", filters_path
      %li{:class => params[:controller] == "subscribers" && "active"}
        = link_to "Subscribers", subscribers_path
      %li{:class => params[:controller] == "policies" && "active"}
        = link_to "Users", policies_path

  .user{:tabindex => "0"}
    - if current_user
      %span= current_user.email
      %ul
        %li= link_to "Settings", institutions_path
        %li= link_to "Sign out", destroy_session_path(:user), method: :delete
    - else
      = link_to "Sign in", guisso_sign_in_path_for(:user)
