.row
  .col
    = cdx_table title: pluralize(@total, "Alert Message") do |t|
      - t.columns do
        %col{:width => "15%"}
        %col{:width => "15%"}
        %col{:width => "15%"}
        %col{:width => "30%"}
      - t.thead do
        %tr
          %th Alert Group
          %th Date
          %th Channel
          %th Message 
      - t.tbody do
        - @alertmessages.each do |alertmessage|
          %tr
            %td= link_to truncate(alertmessage.alert.name, length: 20), alertmessage.alert
            %td= alertmessage.created_at.to_formatted_s(:long)
            %td=  Alert.channel_types.keys[Alert.channel_types["email"]]
            %td= truncate(alertmessage.message_sent, length: 60)

    .pagination
      = render 'shared/pagination'
