<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Work group:</strong>
  <%= @facility.work_group %>
</p>

<p>
  <strong>Index name:</strong>
  <%= @facility.index_name %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
