- content_for(:subheader) do
  .row.center
    .col
      %h1.centered
        Settings
      %hr

.row.center
  - if has_access_to_test_results_index?
    = setting_card title: pluralize(@alerts_count, "Alert Group"), href: alerts_path, icon: 'icon-outline-alert xx-large' do |c|
      - c.body do
        Keep your team notified about important stuff.
        %br
        %br
        Check
        = link_to "alert messages", alert_messages_path
        sent about registered
        = link_to "incidents", incidents_path

  - if has_access_to_roles_index?
    = setting_card title: pluralize(@roles_count, "Role"), href: roles_path, icon: 'icon-outline-role xx-large' do |c|
      - c.body do
        Manage users permissions with reusable policies

  - if can_delegate_permissions?
    = setting_card title: pluralize(@policies_count, "Policy"), href: policies_path, icon: 'icon-outline-sharing-request xx-large' do |c|
      - c.body do
        Share test results with health organization

  - if has_access_to_users_index?
    -# Devise clears the controller param for users index
    = setting_card title: "Users", href: users_path, icon: 'icon-outline-user xx-large' do |c|
      - c.body do
        Manage users on your team

.row.center
  - if has_access_to_devices_index?
    = setting_card title: "Devices", href: devices_path, icon: 'icon-outline-device xx-large' do |c|
      - c.body do
        Manage test devices in your inventory

  - if has_access?(Device, Policy::Actions::SUPPORT_DEVICE)
    = setting_card title: "Device Logs", href: device_messages_path, icon: 'icon-outline-report xx-large' do |c|
      - c.body do
        Investigate device logs

  - if has_access_to_device_models_index?
    = setting_card title: "Device Models", href: device_models_path, icon: 'icon-outline-model xx-large' do |c|
      - c.body do
        Configure device models

.row.center
  - if has_access_to_sites_index?
    = setting_card title: "Sites", href: sites_path, icon: 'icon-outline-site xx-large' do |c|
      - c.body do
        Manage sites of your institution
