= form_for(alert_info) do |f|
  - if alert_info.errors.any?
    #error_explanation
      %p= "#{pluralize(alert.errors.count, "error")} prohibited this alert from being saved:"
      %ul
        - alert_info.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name

  .row
    .col.pe-2
      = f.label :description, :class => 'block'
    .col
      = f.text_field :description
		
  .row
    .col.pe-2
      = f.label :Categories
    .col
      = f.radio_button :category_type, Alert.category_types.keys[0]
      = f.label :category_anomalies, "Anomalies"
  .row
    .col.pe-2
      &nbsp;
    .col
      = f.radio_button :category_type, Alert.category_types.keys[1], checked: true
      = f.label :category_device_errors, "Device Errors"
  .row
    .col.pe-2
      &nbsp;
    .col
      = f.radio_button :category_type, Alert.category_types.keys[2]
      = f.label :category_quality_assurance, "Quality Assurance"

  .row
    .col.pe-2
      &nbsp;
    .col
      = f.radio_button :category_type, Alert.category_types.keys[3]
      = f.label :category_test_results, "Test Results"
	
  .row
    .col.pe-2
      &nbsp;
    .col
      = f.radio_button :category_type, Alert.category_types.keys[4]
      = f.label :category_utilization_efficiency, "Utilization Efficiency"
	
  .row
    .col.pe-2
      &nbsp;
    .col
      = f.radio_button :category_type, Alert.category_types.keys[5]
      = f.label :category_workflow_delays, "Workflow Delays"

  .row
    .col.pe-2
      = f.label :ERRORS
    .col
      'All error codes will be reported'
  .row
    .col.pe-2
      &nbsp;
    .col
      =f.text_field :error_code

  .row
    .col.pe-2
      = f.label :SCOPE
    .col
      = cdx_select form: f, name: :site_id, class: 'input-x-large' do |select|
        - select.item "", "None"
        - select.items @sites, :id, :name


  .row
    .col.pe-2
      = f.label :DEVICE
    .col
      = cdx_select form: f, name: :description, multi: '{true}', class: 'input-x-large' do |select|
        - select.item "", "None"
        - select.items @devices, :id, :name


  .row
    .col.pe-2
      = f.label :AGGREGATION
    .col
      = f.select :aggregation_type, Alert.aggregation_types.keys 

  .row
    .col.pe-2
      = f.label :AGGREGATION_FREQUENCY
    .col
      = f.select :aggregation_frequency, Alert.aggregation_frequencies.keys
	
	
  .row
    .col.pe-2
      = f.label :CHANNEL
    .col
      = f.select :channel_type, Alert.channel_types.keys 



  .row
    .col.pe-2
      = f.label :ROLE
    .col
      / NOTE: could not get ':alert_recipient.id' working::  cdx_select form: f, name: alert_recipient, class: 'input-x-large11' do |select|
      = cdx_select form: f, name: :roles, multi: '{true}', class: 'input-x-large' do |select|
        - select.item "", "None"
        - select.items @roles, :id, :name


  .row
    .col.pe-2
      = f.label :SMS_PER_DAY_LIMIT
    .col
      =f.text_field :sms_limit

  .row
    .col.pe-2
      = f.label :MESSAGE
    .col
      =f.text_field :message
 


  .row.button-actions
    .col
      = f.submit class: "btn-primary"
      = link_to 'Cancel', alerts_path, class: 'btn-link'
      - if @editing
        = confirm_deletion_button alert, 'alert'
