- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            = link_to "+", new_alert_path, class: 'btn-add side-link fix', title: 'Add Alert'
            Alert groups

.row
  .col
    - if @alerts.empty?
      = empty_data title: "No alert groups", icon: 'icon-outline-alert xx-large' do |c|
        - c.body do
          %h1 There are no alert groups on this site
          %p Create alert groups in order to keep your team notified on current events
    - else
      = cdx_table title: pluralize(@total, "alert group") do |t|
        - t.columns do
          %col{:width => "15%"}
          %col{:width => "15%"}
          %col{:width => "10%"}
          %col{:width => "15%"}
          %col{:width => "15%"}
          %col{:width => "20%"}
        - t.thead do
          %tr
            %th Name
            %th Description
            %th Enabled
            %th Sites
            %th Roles
            %th Last Incident

        - t.tbody do
          - @alerts.each do |alert|
            %tr
              %td= link_to truncate(alert.name, length: 20), edit_alert_path(alert)
              %td= link_to truncate(alert.description, length: 20), edit_alert_path(alert)
              %td= link_to alert.enabled ? 'yes' : 'no', edit_alert_path(alert)
              %td= link_to display_sites(alert), edit_alert_path(alert)
              %td= link_to display_roles(alert), edit_alert_path(alert)
              %td= link_to display_latest_alert_date(alert), edit_alert_path(alert)


      .pagination
        = render 'shared/pagination'

