- if @manifest.version
  %p
    %strong Version:
    = @manifest.version

= form_for(@manifest) do |f|
  - if @manifest.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @manifest.errors.full_messages.each do |msg|
            %li= msg
  .row
    .col
      = f.label :definition, :class => 'label'
      = f.text_area :definition, :rows => '5', :class => 'input-xx-large '

  .row
    .col
      = f.submit class: 'btn-primary'
