- if @manifest.version
  %p
    %strong Version:
    = @manifest.version

= form_for(@manifest) do |f|
  - if @manifest.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @manifest.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :definition, :class => 'control-label'
    .controls
      = f.text_area :definition

  .control-group
    .controls
      = f.submit class: 'btn'
