%p#notice= notice
%p
  %strong Version:
  = @manifest.version
%p
  %strong Definition:
  %p= @manifest.definition

= link_to 'Delete', manifest_path(@manifest), method: "DELETE", confirm: "Are you sure?"
|
= link_to 'Back', manifests_path
