= cdx_form_for(@patient) do |f|
  - unless params[:next_url].blank?
    = hidden_field_tag :next_url, params[:next_url]

  = f.form_field :institution, value: f.object.institution

  = f.form_field :name do
    = f.text_field :name, :class => 'input-large'

  = f.form_field :entity_id do
    = f.text_field :entity_id, :class => 'input-large'

  = f.form_field :gender do
    = cdx_select form: f, name: :gender do |select|
      - select.items PatientForm::GENDER_VALUES

  = f.form_field :dob do
    = f.text_field :dob, placeholder: @patient.dob_placeholder

  = patient_address_component(@patient)

  = f.form_field :email do
    = f.text_field :email, :class => 'input-large'

  = f.form_field :phone do
    = f.text_field :phone, :class => 'input-large'

  = f.form_actions do
    = f.submit 'Save', class: 'btn-primary'
    = link_to 'Cancel', patients_path, class: 'btn-link'

    - if @can_delete
      = confirm_deletion_button @patient, 'patient'
