- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to patients_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            = @patient.name

.row
  .col
    = card image: "card-unkown.png" do |c|
      - c.top do
        %b= @patient.name
      - if @can_edit
        - c.actions do
          = link_to edit_patient_path(@patient), :title => 'Edit' do
            = image_tag "ic-pencil.png"

- if @encounters.empty?
  = empty_data icon: 'ic140-tests' do |c|
    - c.body do
      %h1 No medical history
      %p Create test orders in order to start the medical history
- else
  .row
    .col
      %h1 Medical history
  .row
    .col
      %ul.medical-history
        - @encounters.each do |encounter|
          %li{'data-href' => encounter_path(encounter)}
            .row
              .col.pe-2
                %label Date
              .col
                .value= format_date(encounter.start_time)
            .row
              .col.pe-2
                %label Diagnose
              .col
                .value
                  - if encounter.diagnostic.blank?
                    %i Pending
                  - else
                    = encounter.human_diagnose
            .row
              .col.pe-2
                %label Comments
              .col
                .value
                  - if encounter.observations.blank?
                    %i No comments
                  - else
                    = encounter.observations
