.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} #{@device.name} - Device Messages
      %tr
        %th Created at
        %th Status
        %th Error Description
        %th Error Record Index
        %th Error Field
        %th Raw message
      - @messages.each do |message|
        %tr
          %td= format_datetime(message.created_at.in_time_zone(@device.time_zone))
          %td
            - if message.index_failed
              Failed
              = link_to '(reprocess)', reprocess_device_device_message_path(@device, message), method: 'post'
            - else
              Success
          %td= message.index_failure_reason
          %td= message.index_failure_data[:record_index]
          %td= message.index_failure_data[:target_field]
          %td= link_to 'Download', raw_device_device_message_path(@device, message)
