= render "filters"

= cdx_table do |t|
  - t.columns do
    %col{:width => "10%"}
    %col{:width => "25%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
    %col{:width => "15%"}
    %col{:width => "10%"}
  - t.thead do
    %tr
      %th Status
      %th Message
      %th Model
      %th Device
      %th Failures
      %th Error Field
      %th Date
      %th Raw
  - t.tbody do
    - @messages.each do |message|
      %tr
        %td
          - if message.index_failed
            Failed
            = link_to '(reprocess)', reprocess_device_message_path(message.device, message), method: 'post'
          - else
            Success
        %td= message.index_failure_reason
        %td= message.device.device_model.name
        %td= message.device.name
        %td= message.index_failure_data[:number_of_failures]
        %td= message.index_failure_data[:target_field]
        %td= format_datetime(message.created_at.in_time_zone(message.device.time_zone))
        %td= link_to 'Download', raw_device_message_path(message.device, message)

.pagination
  = link_to "<", previous_page_params, disabled: !has_previous_page, class: 'btn-link'
  = link_to ">", next_page_params, disabled: !has_next_page, class: 'btn-link'
  %input.input-x-small.text-right{type: "text", name: "page", value: @page}
  %span
    of
    = (@total.to_f / @page_size).ceil
  %span(style="display: inline-block;")
    = cdx_select name: "page_size_select", value: @page_size, class: 'input-large' do |select|
      - select.items PagingHelper::PAGE_SIZE_OPTIONS, :second, :first
  :javascript
    $(function(){
      $(document).on('change', 'input[name=page_size_select]', function(){
        $('input[name=page_size]').val($(this).val());
        $('#filters-form').submit();
      });
    })
