%h2= t "devise.invitations.new.header"
= form_for @user, url: { action: 'create' } do |f|
  = devise_error_messages!
  %p
    = f.label :email
    %br
    = f.text_field :email
  = f.fields_for :policies do |policies_form|
    = policies_form.label :definition
    = policies_form.text_area :definition
  %p= f.submit t("devise.invitations.new.submit_button")
