<h1>Listing work_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_groups.each do |work_group| %>
      <tr>
        <td><%= work_group.name %></td>
        <td><%= work_group.user %></td>
        <td><%= link_to 'Show', work_group %></td>
        <td><%= link_to 'Edit', edit_work_group_path(work_group) %></td>
        <td><%= link_to 'Destroy', work_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work group', new_work_group_path %>
