<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_group.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @work_group.user %>
</p>

<%= link_to 'Edit', edit_work_group_path(@work_group) %> |
<%= link_to 'Back', work_groups_path %>
