= cdx_form_for @role do |f|
  = f.form_field :name do
    = f.text_field :name

  - if @accessible_institutions != 1
    = f.form_field :institution_id, value: @institution

  - if @role.new_record?
    = f.form_field :site_id do
      = cdx_select form: f, name: :site_id, class: 'input-x-large' do |select|
        - select.item "", "Choose one"
        - select.items @sites, :id, :name

  - elsif @role.site_id
    = f.form_field :site_id, value: @role.site.try(:name)
  %br
  %br
  %hr
  %br
  .row
    .col
      %h1 Policies
      %p.text-small.muted
        %i Policies grant users permisions over specific resources
      = f.field_errors :policy
  = react_component 'PolicyDefinition', definition: @role.definition, actions: actions_per_resource_type, context: params['context'], resources: @policy_definition_resources, resourceTypes: resource_types

  = f.form_actions do
    = f.submit 'Save', :class => 'btn-primary'
    = link_to 'Cancel', roles_path, class: 'btn-link'
    - if @can_delete
      - unless @role.new_record?
        = confirm_deletion_button @role, 'role'
