.row
  .col.pe-6
    %form#filters-form{ action: dashboard_path, 'data-auto-submit' => true }
      .filter
        %label.block Date
        = cdx_select name: 'since', value: params['since'] do |select|
          - select.items options_for_date, :value, :label
  .col.pe-6
    %form#filters-form{ action: dashboard_path }
      .row
        .col.pe-2
          %label.block Date From
          = date_field('range','start_time[gte]')
        .col.pe-2
          %label.block Date To
          = date_field('range','start_time[lte]')
        .col.pe-2
          %label.block ''
          %input#query_button.btn-primary(type='submit' value='Query')
.row
  .col.pe-8
    %h1 Usage in the last 12 months
.row#tests_run
  .col.pe-7
    = react_component('BarChart', data: query_tests_chart.data, height: 300, y_label: 'Tests Run')
  .col
    = react_component('PieChart', data: tests_by_name, height: 250, label: 'Tests Run')

%hr

.row
  .col
    %h1 Error rate #{chart_heading}
.row
  .col.pe-7
    = react_component('BarChart', data: query_errors.data, height: 300, y_label: 'Tests With Errors', x_labels: query_errors.users)
  .col
    = react_component('PieChart', data: errors_by_code, height: 250, label: 'Errors')
%hr
.row
  .col.pe-8
    %h1 Devices in the last 12 months
.row
  .col.pe-7
    = react_component('PieChart', data: errors_by_device, height: 250, label: 'Devices')
%hr
.row
  .col
    %h1 models in the last 12 months
    = react_component('PieChart', data: errors_by_model, height: 250, label: 'By Models')
%hr
.row
  .col
    %h1 successful in the last 12 months
    = react_component('PieChart', data: errors_by_successful, height: 250, label: 'By success')
.row
  .col
    %h1 successful in the last 12 months
    = react_component('PieChart', data: errors_by_not_successful, height: 250, label: 'By not success')
