.filterbar
  .heading
    .title DASHBOARD
    .showing
      .highlight SHOWING :
      .dates in the last 12 months
	  
  .topfilters  
    %form#filters-form{ action: dashboard_path }
  
      .topbutton
        %input#query_button.btn-primary(type='submit' value='Filter')

      .topdateto
        %label.block Date To
        = date_field('range','start_time[lte]')
    
      .topdatefrom
        %label.block Date From
        = date_field('range','start_time[gte]')
    
      .topdateperiod
        %form#filters-form{ action: dashboard_path, 'data-auto-submit' => true }
          .filter
            %label.block Date Period
            = cdx_select name: 'since', value: params['since'] do |select| 
              - select.items options_for_date, :value, :label
	
	

.row
  .col.pe-6
    %form#filters-form{ action: dashboard_path, 'data-auto-submit' => true }
      .filter
        %label.block Date
        = cdx_select name: 'since', value: params['since'] do |select|
          - select.items options_for_date, :value, :label
  .col.pe-6
    %form#filters-form{ action: dashboard_path }
      .row
        .col.pe-2
          %label.block Date From
          = date_field('range','start_time[gte]')
        .col.pe-2
          %label.block Date To
          = date_field('range','start_time[lte]')
        .col.pe-2
          %label.block
          %input#query_button.btn-primary(type='submit' value='Query')

= react_component('OutstandingTestsTable', title: "title", allowSorting: "true", orderBy: "-test_order", data: outstanding_orders)

.chart-container
  .row
    .col.pe-8
      %h1 Device Error Codes 
  .row
    .col.pe-7
    = react_component('DeviceErrorTable', title: "title", allowSorting: "true", orderBy: "-device", data: error_codes_by_device)

.chart-container
  .row
    .col.pe-8
      %h1 Devices Not Reporting 
  .row
    .col.pe-7
  = react_component('HorizontalBarChart', data: query_devices_not_reporting_chart, height: 350, width: 700, y_label: 'XXXXX', x_labels:query_tests_chart.statuses, chart_div: 'chart_not_responding', label: 'DAYS')
  #chart_not_responding
  		

		
		
.chart-container-bar
  .row
    .col.pe-8
      %h1 Usage
  .row#tests_run
    .col.pe-7
      = react_component('BarChart', data: query_tests_chart.data, height: 300, y_label: 'Tests Run', x_labels: query_tests_chart.statuses)
	  
	  
.chart-container-pie
  .row
    .col.pe-8
      %h1 Usage
  .row#tests_run
    .col.pe-7
      = react_component('PieChart', data: tests_by_status, height: 250, label: 'Tests Run')
	  
.chart-container-clear



.chart-container
  .row
    .col.pe-8
      %h1 Site Tests
  .row
    .col.pe-7
    = react_component('HorizontalBarChart', data: query_site_tests_chart, height: 350, width: 700, y_label: 'XXXXX', x_labels:query_tests_chart.statuses, chart_div: 'chart_site_tests', label: 'Total Tests by Site')
  #chart_site_tests

  


.chart-container-bar
  .row
    .col.pe-8
      %h1 Error rate
  .row#tests_run
    .col.pe-7
      = react_component('BarChart', data: query_errors.data, height: 300, y_label: 'Tests With Errors', x_labels: query_errors.error_codes)
	  
	  
.chart-container-pie
  .row
    .col.pe-8
      %h1 Error rate
  .row#tests_run
    .col.pe-7
      = react_component('PieChart', data: errors_by_code, height: 250, label: 'Errors')
	  
.chart-container-clear


.chart-container-bar
  .row
    .col.pe-8
      %h1 Devices
  .row#tests_run
    .col.pe-7
      = react_component('BarChart', data: devices_reporting_chart.data, height: 300, y_label: 'Errors By Device', x_labels: devices_reporting_chart.device_names)
	  
	  
.chart-container-pie
  .row
    .col.pe-8
      %h1 Devices
  .row#tests_run
    .col.pe-7
      = react_component('PieChart', data: devices_grouped, height: 250, label: 'Devices')
	  
.chart-container-clear



.chart-container-bar
  .row
    .col.pe-8
      %h1 Models
  .row#tests_run
    .col.pe-7
      = react_component('BarChart', data: errors_by_model_chart.data, height: 300, y_label: 'Errors By Model', x_labels: errors_by_model_chart.device_models)
	  
	  
.chart-container-pie
  .row
    .col.pe-8
      %h1 Models
  .row#tests_run
    .col.pe-7
      = react_component('PieChart', data: errors_by_model, height: 250, label: 'By Models')
	  
.chart-container-clear



.chart-container-bar
  .row
    .col.pe-8
      %h1 Successful tests
  .row#tests_run
    .col.pe-7
      = react_component('BarChart', data: successful_tests_chart.data, height: 300, y_label: 'successful Tests', x_labels: successful_tests_chart.test_names)
	  
	  
.chart-container-pie
  .row
    .col.pe-8
      %h1 Successful tests
  .row#tests_run
    .col.pe-7
      = react_component('PieChart', data: successful_tests, height: 250, label: 'Successful')
	  
.chart-container-clear



.chart-container-bar
  .row
    .col.pe-8
      %h1 Unsuccessful tests
  .row#tests_run
    .col.pe-7
      = react_component('BarChart', data: unsuccessful_tests_chart.data, height: 300, y_label: 'Successful Tests', x_labels: unsuccessful_tests_chart.statuses)
	  
	  
.chart-container-pie
  .row
    .col.pe-8
      %h1 Unsuccessful tests
  .row#tests_run
    .col.pe-7
      = react_component('PieChart', data: unsuccessful_tests, height: 250, label: 'Unsuccessful')
	  
.chart-container-clear
