.filterbar
  .heading
    .title DASHBOARD
    .showing
      .highlight SHOWING :
      .dates in the last 12 months

  .topfilters
    %form#filters-form{ action: dashboard_path }

      .topbutton
        %input#query_button.btn-primary(type='submit' value='Filter')

      .topdateto
        %label.block Date To
        = date_field('range','start_time[lte]')

      .topdatefrom
        %label.block Date From
        = date_field('range','start_time[gte]')

      .topdateperiod
        %form#filters-form{ action: dashboard_path, 'data-auto-submit' => true }
          .filter
            %label.block Date Period
            = cdx_select name: 'since', value: params['since'] do |select|
              - select.items options_for_date, :value, :label

.row

.chart-container-row
  .chart-container-bar
    .row
      .col.pe-8
        %h1 Total Tests
    .row#tests_run
      .col.pe-7
        = react_component('BarChart', data: query_tests_chart.data, height: 300, y_label: 'Tests Run', x_labels: query_tests_chart.statuses)

  .chart-container-pie
    .row
      .col.pe-8
        %h1 Total Tests by Device
    .row#tests_run
      .col.pe-7
        = react_component('PieChart', data: devices_grouped, height: 250, label: 'Tests Run')
        -# = react_component('PieChart', data: tests_by_status, height: 250, label: 'Tests Run')
  .chart-container-clear

.chart-container-row
  .chart-container-barleft
    .row
      .col.pe-8
        %h1 Total Tests by Site
    .row#tests_run
      .col.pe-7
        = react_component('HorizontalBarChart', data: query_site_tests_chart, width: 700, x_labels:query_tests_chart.statuses, chart_div: 'chart_site_tests', label: 'Total Tests by Site')
        #chart_site_tests

  .chart-container-barright
    .row
      .col.pe-8
        %h1 Average Tests by Site
    .row#tests_run
      .col.pe-7
        = react_component('GroupedVerticalBarChart', height: 300, width: 600, chart_div: 'chart_average_test_per_site_chart', data: average_test_per_site_chart)
        #chart_average_test_per_site_chart
  .chart-container-clear

.chart-container-row
  .chart-container-barleft
    .row
      .col.pe-8
        %h1 Failed Tests
    .row#tests_run
      .col.pe-7
        .pieleft
          = react_component('PieChart', data: failed_tests, height: 250, label: 'Total tests')
        .pieright
          = react_component('PieChart', data: tests_by_failed, height: 250, label: 'Failed tests')

  .chart-container-barright
    .row
      .col.pe-8
        %h1 Average Tests by Technician
    .row#tests_run
      .col.pe-7
        = react_component('GroupedHorizontalBarChart', data: average_tests_per_technician_chart, width: 600, x_labels:query_tests_chart.statuses, chart_div: 'chart_average_tests', label: 'DAYS')
        #chart_average_tests
  .chart-container-clear

.chart-container-row
  .chart-container-barleft
    .row
      .col.pe-8
        %h1 Devices Not Responding
    .row#tests_run
      .col.pe-7
        = react_component('HorizontalBarChart', data: query_devices_not_reporting_chart, width: 700, x_labels:query_tests_chart.statuses, chart_div: 'chart_not_responding', label: 'DAYS')
        #chart_not_responding

  .chart-container-barright
    .row
      .col.pe-8
        %h1 Device Error Codes
    .row#tests_run
      .col.pe-7
        = react_component('DeviceErrorTable', title: "title", allowSorting: "true", orderBy: "-device", data: error_codes_by_device)
  .chart-container-clear

.chart-container-clear

.chart-container-row
  .chart-container
    = react_component('OutstandingTestsTable', title: "title", allowSorting: "true", orderBy: "-test_order", data: outstanding_orders)
  .chart-container-clear
