.samples-count
  .title
    = check_box_tag 'all_sample_ids'
    %label.row{for: "all_samples_ids"}
    #count
      = @batch_form.laboratory_samples.count.to_s + ' ' + "Samples"
  .actions
    =button_tag id: 'bulk-action-print', class: 'btn-link', name: 'bulk_action', value: 'print' do
      .icon-print.btn-icon
    =button_tag id: 'bulk-action-destroy', class: 'btn-link', name: 'bulk_action', value: 'destroy' do
      .icon-trash.btn-icon

- @batch_form.laboratory_samples.each do |sample|
  .col.pe-7.batches-samples
    .samples-row
      .samples-item
        = check_box_tag 'sample_ids[]', sample.id, false, { id: "sample_ids_#{sample.id}" }
        %label.row{for: "sample_ids_#{sample.id}"}
        = sample.uuid
      = link_to edit_laboratory_sample_path(sample.id) do
        .icon-keyboard-arrow-right.icon-gray

= link_to add_laboratory_sample_batch_path, method: :post, class: 'add-samples' do
  .col.pe-7.add-samples
    .icon-circle-plus.icon-blue.icon-margin
    .add-sample-link
      = "ADD SAMPLE"

= render 'samples_helper'
