.samples-count
  = check_box_tag 'all_sample_ids'
  %label.row{for: "all_samples_ids"}
  = @batch_form.laboratory_samples.count.to_s + ' ' + "Samples"
- @batch_form.laboratory_samples.each do |sample|
  .col.pe-7.batches-samples
    .samples-row
      .samples-item
        = check_box_tag 'sample_ids[]', sample.id, false, { id: "sample_ids.#{sample.id}" }
        %label.row{for: "sample_ids.#{sample.id}"}
        = sample.uuid
      = link_to edit_laboratory_sample_path(sample.id) do
        .icon-keyboard-arrow-right.icon-gray

= link_to add_laboratory_sample_batch_path, method: :post, class: 'add-samples' do
  .col.pe-7.add-samples
    .icon-circle-plus.icon-blue.icon-margin
    .add-sample-link
      = "ADD SAMPLE"
