.samples-count
  .title
    = check_box_tag 'select_all_samples'
    %label.row{for: "select_all_samples"}
    #count
      = @batch_form.batch.samples.count.to_s + ' ' + "Samples"
  .actions
    = button_tag id: 'bulk_print', class: 'btn-link', name: 'bulk_action', value: 'print' do
      .icon-print.btn-icon
    = button_tag id: 'bulk_destroy', class: 'btn-link' do
      .icon-trash.btn-icon
    = button_tag id: 'bulk_destroy_undo', class: 'btn-link hidden' do
      Undo

- @batch_form.batch.samples.each do |sample|
  .col.pe-7.batches-samples
    .samples-row
      .samples-item
        = check_box_tag 'sample_ids[]', sample.id, false, { id: "sample_ids_#{sample.id}", class: "select-checkbox" }
        %label.row{for: "sample_ids_#{sample.id}"}
        = check_box_tag 'destroy_sample_ids[]', sample.id, false, { id: "destroy_sample_ids_#{sample.id}", class: "destroy-checkbox" }
        = sample.uuid
      .sample-row-actions
        - if sample.is_quality_control?
          .icon-test.icon-gray{title: 'Q - Control specimen'}
        = link_to edit_sample_path(sample.id) do
          .icon-keyboard-arrow-right.icon-gray

= link_to add_sample_batch_path, method: :post, class: 'add-samples' do
  .col.pe-7.add-samples
    .icon-circle-plus.icon-blue.icon-margin
    .add-sample-link
      = "ADD SAMPLE"

= render 'samples_js'
= render 'samples_bulk_js'
= render 'samples/index_bulk_actions_js'
