.items-count
  .title
    #count
      = @batch_form.batch.samples.count.to_s + ' ' + "Samples"

- @batch_form.batch.samples.each do |sample|
  .col.pe-7.list-items
    .items-row
      .items-item
        = sample.uuid
      .items-row-actions
        - if sample.is_quality_control?
          = icon_tag "test", class: "icon-gray", title: "Q - Control specimen"
        = link_to sample_path(sample.id) do
          = icon_tag "keyboard-arrow-right", class: "icon-gray"
