.samples-count
  .title
    #count
      = @batch_form.batch.samples.count.to_s + ' ' + "Samples"

- @batch_form.batch.samples.each do |sample|
  .col.pe-7.batches-samples
    .samples-row
      .samples-item
        = sample.uuid
      .samples-row-actions
        - if sample.is_quality_control?
          = icon_tag "test", class: "icon-gray", title: "Q - Control specimen"
        = link_to sample_path(sample.id) do
          = icon_tag "keyboard-arrow-right", class: "icon-gray"
