= render "filters"

.row
  .col
    - if @batches.empty?
      = empty_data title: 'No batches', icon: 'icon-outline-test xx-large' do |c|
        - c.body do
          %h1 There are no batches
          %p Every batch will hold multiple samples
    - else
      =form_tag bulk_action_batches_path, :id => 'batches_form' , :method => :get do
        = cdx_table title: pluralize(@total, "batch") do |t|
          - t.actions do
            =button_tag id: 'bulk_destroy', class: 'btn-link', name: 'bulk_action', value: 'destroy', data: { method: "delete", confirm: "You're about to permanently delete the selected batches. This action CANNOT be undone. Are you sure you want to proceed?" } do
              .icon-trash.btn-icon
          - t.columns do
            %col{:width => "5%"}
            %col{:width => "20%"}
            %col{:width => "20%"}
            %col{:width => "20%"}
            %col{:width => "20%"}
            %col{:width => "15%"}
          - t.thead do
            %tr
              %th
              %th Isolate name
              %th Batch ID
              %th Lab Technician
              %th Inactivation Method
              %th Production Date
          - t.tbody do
            - @batches.each do |batch|
              %tr.laboratory-sample-row{data: {href: edit_batch_path(batch) }}
                %td
                  =check_box_tag 'batch_ids[]', batch.id, false, { id: "batch_ids.#{batch.id}" }
                  %label.row{for: "batch_ids.#{batch.id}"}
                %td= batch.isolate_name
                %td= batch.batch_number
                %td= batch.lab_technician
                %td= batch.inactivation_method
                %td= batch.date_produced_description

      .pagination
        = render 'shared/pagination'

  .col.pe-1.tab-buttons
    .tab-separator
    .icons-group
      = link_to samples_path do
        .icon-sample.tab-sample{title: "Samples"}
      .selected-icon-tab
        .icon-batch.tab-batch.selected{title: "Batches"}

= render 'index_js'
= render 'samples/index_bulk_actions_js'

