= form_for(subscriber) do |f|
  - if subscriber.errors.any?
    #error_explanation
      %h2= "#{pluralize(subscriber.errors.count, "error")} prohibited this subscriber from being saved:"
      %ul
        - subscriber.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :filter, class: 'control-label'
    .control
      = f.collection_select :filter_id, filters, :id, :name, class: 'input-large'
  .control-group
    = f.label :name, :class => 'control-label'
    .control
      = f.text_field :name
  .control-group
    = f.label :url, "URL", :class => 'control-label'
    .control
      = f.text_field :url
  .control-group
    = f.label :verb, "HTTP Verb", :class => 'control-label'
    %span.help-block GET will send fields in query string. POST will send a JSON object in the request body.
    = f.collection_select :verb, Subscriber::VALID_VERBS, :to_s, :to_s, include_blank: false
  .control-group
    = f.label :url_user, "User (optional)", :class => 'control-label'
    .control
      = f.text_field :url_user
  .control-group
    = f.label :url_password, "Password (optional)", :class => 'control-label'
    .control
      = f.password_field :url_password
  .control-group
    = f.label :fields, :class => 'control-label'
    %span.help-block Empty selection will send all fields
    .control
      - Subscriber.available_field_names.sort.each do |field|
        = check_box_tag "fields[#{field}]", true, subscriber.fields.try {|f| f.include?(field)}, id: "fields.#{field}"
        %label{for: "fields.#{field}"}
          = field
  .control-group
    .control
      = f.submit nil, class: "btn"
