= form_for([institution, subscriber]) do |f|
  - if subscriber.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - subscriber.errors.full_messages.each do |msg|
            %li= msg
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :callback_url
    = f.text_field :callback_url
  %div
    = f.label :auth_token
    = f.text_field :auth_token

  = f.submit class: 'btn'
