%h1
  = link_to '←', subscribers_path, class: 'side-link', title: 'Back'
  Edit #{subscriber.name}

= render 'form'

%hr

= link_to "Delete this subscriber", subscriber, method: :delete, data: { confirm: "Are you sure you want to delete the location '#{subscriber.name}'" }
