%p#notice= notice
%p
  %strong Name:
  = @subscriber.name
%p
  %strong Institution:
  = @subscriber.institution
%p
  %strong Callback url:
  = @subscriber.callback_url
%p
  %strong Auth token:
  = truncate(@subscriber.auth_token, length: 12)
= link_to 'Edit', edit_subscriber_path(@subscriber)
|
= link_to 'Back', subscribers_path
