<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Work group:</strong>
  <%= @subscriber.work_group %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
