%h1#playground CDP - Playground
.row
  .col.pe-4
    %h4 Submit message
    %form#report_form(method="post")
      %label.block(for="device") Device

      = cdx_select name: "device" do |select|
        - select.items @devices, :uuid, :name

      %label.block(for="data") Data
      %textarea.input-block#data{:rows => "18"}
      .results.playground-error

      .row
        .col
          = "Test results to generate:"
        .col
          %input{:max => "500", :min => "0", :value => "0", :id => "repeat_demo", :type => "number"}
      .row
        .col
          = "Start date time:"
        .col
          = datetime_local_field("data", "start_datetime")
      .row
        .col
          = "End date time:"
        .col
          = datetime_local_field("data", "end_datetime")
      .row
        .col
          %input#create_button.btn-primary(name="commit" type="submit" value="Create message")

  .col
    .row
      .col
        %h4 Query results

    %form#query_form(method="post")
      .row
        .col
          %label.block(for="query_string") Query string
          %textarea.input-block#query_string{:rows => "8"} encounter.patient_age=20yo..20yo
        .col
          %label.block(for="post_body") Request Body
          %textarea.input-block#post_body{:rows => "8"}
      .row
        .col
          %input#query_button.btn-primary(type="submit" value="Query")
    .row
      .col
        #response_div
          %hr
          %h4 Response:
          %pre#response
