.span12
  %h3 #{@device.name} - Custom Fields

  = form_for([@institution, @device]) do |f|
    = f.fields_for(:custom_mappings) do |m|
      - @custom_fields.each do |field|
        .control-group
          = m.label field.target_field, class: 'control-label'
          .controls
            = m.select field.target_field,
                options_for_target_field,
                selected: @device.custom_mappings[field.target_field]
    %hr
    .control-group
      .controls
        = f.submit class: 'btn'


