= cdx_form_for(filter) do |f|
  = f.fields_for(:query) do |p|
    - filter.query.each do |key, value|
      = p.hidden_field key, value: value

  = f.form_field :site do
    = site.try(:name)

  = f.form_field :condition do
    = condition

  = f.form_field :name
    = f.text_field :name

  = f.form_actions do
    = f.submit class: "btn-primary"
    = link_to 'Cancel', filters_path, class: 'btn-link'
    - if @editing
      = confirm_deletion_button filter, 'filter'
