= cdx_form_for(@box_report) do |f|
  .row
    .col
      = f.form_field :name do
        = f.text_field :name
      = f.form_field :box_report_samples, label: {text: "Box"} do
        = react_component("BoxSelector",
          context: @navigation_context.uuid,
          includeQcInfo: true, 
          displayQcInfo: false,
          maxBoxes: 1,
          caller: "box_reports",
          boxes: boxes_data(@boxes))
        = f.field_errors :"box_report_samples "

  = f.form_actions do
    = f.submit 'Generate Report', class: 'btn-primary'
    = link_to 'Cancel', box_reports_path, class: 'btn-link'

