= form_for(@site) do |f|
  = validation_errors @site
  
  .row
    .col.pe-2
      = f.label :institution
    .col
      .value= f.object.institution

  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name, :class => 'input-large'
  - if @site.new_record?
    .row
      .col.pe-2
        = f.label :parent
      .col
        = cdx_select form: f, name: :parent_id, class: 'input-x-large' do |select|
          - select.item "", "None"
          - select.items @sites, :id, :name
  - elsif @site.parent
    .row
      .col.pe-2
        = f.label :parent
      .col
        = @site.parent.name
  .row
    .col.pe-2
      = f.label :sample_id_reset_policy, "Sample ID reset policy"
    .col
      = cdx_select form: f, name: :sample_id_reset_policy, class: 'input-large' do |select|
        - select.item "yearly", "Yearly"
        - select.item "monthly", "Monthly"
        - select.item "weekly", "Weekly"
  = site_address_component(@site)
  .row
    .col.pe-2
      = f.label :main_phone_number
    .col
      = f.text_field :main_phone_number, :class => 'input-large'
  .row
    .col.pe-2
      = f.label :email_address
    .col
      = f.email_field :email_address, :class => 'input-large'

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', sites_path, class: 'btn-link'
      - if @can_delete
        - if @can_be_deleted
          = confirm_deletion_button @site, 'site'
        - else
          - # TODO: link to page with Devices tab always active - it's the current default, but may change
          = link_to "Delete", '#', data: { confirm: "In order to delete this site you must first reassign the <a href=\"#{site_path(@site)}\">#{@site.devices.count} #{"device".pluralize(@site.devices.count)}</a> assigned to it.", confirm_title: 'Action required', confirm_hide_cancel: 'true', confirm_button_message: 'Understood' }, class: 'btn-secondary pull-right', title: 'Delete Site'
