= form_for(@site) do |f|
  - if @site.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @site.errors.full_messages.each do |msg|
            %li= msg

  = render 'shared/select_institution_or_hidden', f: f

  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name, :class => 'input-large'
  .row
    .col.pe-2
      = f.label :location_geoid, "Location"
    .col
      = f.hidden_field :location_geoid, class: 'input-large'
  - if @site.new_record?
    .row
      .col.pe-2
        = f.label :parent_id, "Supervisor"
      .col
        = cdx_select form: f, name: :parent_id, class: 'input-x-large' do |select|
          - select.item "", "Choose one"
          - select.items @sites, :id, :name
  - elsif @site.parent
    .row
      .col.pe-2
        = f.label :parent_id, "Supervisor"
      .col
        = @site.parent.name
  .row
    .col.pe-2
      = f.label :sample_id_reset_policy, "Sample ID reset policy"
    .col
      = cdx_select form: f, name: :sample_id_reset_policy, class: 'input-xx-large' do |select|
        - select.item "yearly", "Yearly"
        - select.item "monthly", "Monthly"
        - select.item "weekly", "Weekly"

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      - if @can_delete
        = link_to "Delete", [@institution, @site], method: :delete, data: { confirm: "Are you sure you want to delete the site '#{@site.name}'" }, class: 'btn-secondary pull-right', title: 'Delete Site'
