= form_for(@site) do |f|
  - if @site.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @site.errors.full_messages.each do |msg|
            %li= msg

  = render 'shared/select_institution_or_hidden', f: f

  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name, :class => 'input-large'
  .row
    .col.pe-2
      = f.label :location_geoid, "Location"
    .col
      = f.hidden_field :location_geoid, class: 'input-large'
  - if @site.new_record?
    .row
      .col.pe-2
        = f.label :parent_id, "Supervisor"
      .col
        = f.collection_select(:parent_id, @sites, :id, :name, {include_blank: "Choose one"}, class: 'ddown')
  - elsif @site.parent
    .row
      .col.pe-2
        = f.label :parent_id, "Supervisor"
      .col
        = @site.parent.name

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      - if @can_delete
        = link_to "Delete", [@institution, @site], method: :delete, data: { confirm: "Are you sure you want to delete the site '#{@site.name}'" }, class: 'btn-secondary pull-right', title: 'Delete Site'
