= cdx_form_for(@site) do |f|
  = f.form_field :institution, value: f.object.institution

  = f.form_field :name do
    = f.text_field :name, :class => 'input-large'

  - if @site.new_record? || @can_move
    = f.form_field :parent do
      = cdx_select form: f, name: :parent_id, class: 'input-x-large' do |select|
        - select.item "", "None"
        - select.items @sites, :id, :name
  - elsif @site.parent
    = f.form_field :parent do
      = @site.parent.name

    .col.pe-4
      - unless @site.new_record?
        = render 'side'

  = site_address_component(@site)

  = f.form_field :sample_id_reset_policy do
    = cdx_select form: f, name: :sample_id_reset_policy, class: 'input-large' do |select|
      - select.item "yearly", "Yearly"
      - select.item "monthly", "Monthly"
      - select.item "weekly", "Weekly"

  = f.form_field :allows_manual_entry do
    = f.check_box :allows_manual_entry
    %label{for: 'site_allows_manual_entry'} &nbsp;

  = f.form_field :main_phone_number do
    = f.text_field :main_phone_number, :class => 'input-large'

  = f.form_field :email_address do
    = f.email_field :email_address, :class => 'input-large'

  = f.form_actions do
    = f.submit 'Save', class: 'btn-primary'
    = link_to 'Cancel', sites_path, class: 'btn-link'
    - if @can_delete
      - if @can_be_deleted
        = confirm_deletion_button @site, 'site'
      - else
        - # TODO: link to page with Devices tab always active - it's the current default, but may change
        = link_to "Delete", '#', data: { confirm: "In order to delete this site you must first reassign the <a href=\"#{edit_site_path(@site)}\">#{@site.devices.count} #{"device".pluralize(@site.devices.count)}</a> assigned to it.", confirm_title: 'Action required', confirm_hide_cancel: 'true', confirm_button_message: 'Understood' }, class: 'btn-secondary pull-right', title: 'Delete Site'
