= render "filters"
.row
  .col
    - if @sites.empty?
      = empty_data icon: 'icon-outline-site xx-large' do |c|
        - c.body do
          %h1 This #{navigation_context_entity_name} has no dependencies
          %p Create sites here to keep your institution's hierachy organized
    - else
      = cdx_table title: pluralize(@total, "site") do |t|
        - t.columns do
          %col{:width => "50%"}
          %col{:width => "50%"}
        - t.actions do
          = link_to sites_path(filters_params.merge(format: :csv)), title: 'Download CSV' do
            .icon-download.icon-gray
        - t.thead do
          %tr
            %th Name
            %th Location
        - t.tbody do
          - @sites.each do |site|
            %tr{data: {href: edit_site_path(site) }}
              %td= site.name
              %td= site.location.try(:name)

      .pagination
        = render 'shared/pagination'
