- unless @institutions.one?
  .row
    .col
      %h1 Filters
  %form(data-auto-submit)
    .row
      .col
        %label.block Institution

        = cdx_select name: "institution", value: params["institution"] do |select|
          - select.item "", "(all)"
          - select.items @institutions, :id, :name

.row
  .col
    - if @can_create
      = link_to "+", new_site_path, class: 'btn-add side-link fix', title: 'Add Site'
    = cdx_table title: 'Sites' do |t|
      - t.thead do
        %tr
          %th Name
          - unless @institutions.one?
            %th Institution
          %th Location
      - t.tbody do
        - @sites.each do |site|
          %tr{data: {href: site_path(site) }}
            %td= site.name
            - unless @institutions.one?
              %td= site.institution.name
            %td= site.location.try(:name)
