%h1
  = link_to 'â†', sites_path, title: 'Back'
  = @site.name

.row
  .col
    = card image: map_url(@site.lat, @site.lng) do |c|
      - c.top do
        %b= @site.name
      - if @can_edit
        - c.actions do
          = link_to edit_site_path(@site), :title => 'Edit' do
            = image_tag "ic-pencil.png"
      - c.bottom do
        = @site.address

.row
  .col
    = cdx_tabs do |t|
      - t.tab title: 'Devices', url: devices_site_path(@site)
      - t.tab title: 'Tests' do
        = test_results_table filter: { site: @site }
