- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to sites_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            = @site.name

.row
  .col
    = card image: map_url(@site.lat, @site.lng) do |c|
      - c.top do
        %b= @site.name
        - if parent = @site.parent
          %div
            Site under #{link_to parent.name, site_path(parent)}
        - if @show_institution
          %div
            Institution: #{@site.institution.name}
      - if @can_edit
        - c.actions do
          = link_to edit_site_path(@site), :title => 'Edit' do
            = image_tag "ic-pencil.png"
      - c.bottom do
        = @site.address

.row
  .col
    = cdx_tabs do |t|
      - t.tab title: 'Devices', url: devices_site_path(@site)
      - t.tab title: 'Dependencies', url: dependencies_site_path(@site)
