= form_for current_location do |f|
  - if current_location.errors.any?
    #error_explanation
      %h2= "#{pluralize(current_location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - current_location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :parent_id
    = f.select :parent_id, nested_set_options(Location, current_location) {|i| "#{'-' * i.level} #{i.name}" }, include_blank: '(none)'

  .actions
    = f.submit 'Save'
