= form_for @location do |f|
  - if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'input-large'
  .control-group
    = f.label :parent_id, :class => 'control-label'
    .controls
      = f.select :parent_id, nested_set_options(Location, @location) {|i| "#{'-' * i.level} #{i.name}" }, {include_blank: '(none)'}, class: 'input-large'
  .control-group
    = f.label :geo_id, :class => 'control-label'
    .controls
      = f.text_field :geo_id, :class => 'input-large'

  .control-group
    .controls
      = f.submit 'Save', :class => 'btn'
