%p#notice= notice

%h3 #{@location.name}
- if @location.parent
  %p
    %b Parent:
    = @location.parent.name
%p
  %b Admin level:
  = "#{@location.type} (#{@location.admin_level})"


.actions
  = link_to 'Back', locations_path
