!!!
%html
  %head
    %title Connected Diagnostics Platform
    = Gon::Base.render_data({})
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "es5-shim" if Rails.env.test?
    = javascript_include_tag "application" if @usenav
    = csrf_meta_tags
  %body{class: @body_class}
    .wrapper
      - if @usenav
        %header
          = render "shared/header_nav"

      .content.row
        = flash_message
        - if @usenav
          .col.px-3#context_side_bar{"data-context-react-props": {context: @navigation_context.try(:to_hash) || {}}.to_json}
        .col.maincol
          = yield(:subheader)
          .row
            .col#leftcolumn= yield(:leftcolumn)
            .col.pe-10
              = content_for?(:cdp_content) ? yield(:cdp_content) : yield
            .col#rightcolumn= yield(:rightcolumn)

      %footer
        = render "shared/footer"
