!!!
%html
  %head
    %title Connected Diagnostics Platform
    = Gon::Base.render_data({})
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.devise{class: @body_class}
    .wrapper
      %header
        .row
          .col
            .logo
            = image_tag 'cdx-logo.png'
          - unless Settings.single_tenant || ENV['CDX_DISABLE_SIGNUPS']
            .col
              = link_to "Create an account", new_registration_path(:user), :class => 'btn-primary pull-right'


      = flash_message
      .content
        .devise-box
          = content_for?(:cdp_content) ? yield(:cdp_content) : yield

      %footer
        = render "shared/footer"
