%html
  %head
    - if Rails.env.development?
      -# https://github.com/fphilipe/premailer-rails/issues/108
      :css
        #{Rails.application.assets.find_asset('mailer.css').body}
    - else
      = stylesheet_link_tag "mailer", :media => "all"
  %body
    .container
      .email-logo.centered
        = image_tag "cdx-logo-med.png"
      .box.big.centered
        = yield
      .bottom-links.centered
        .row
          .col
            = yield :footer
        .row
          .col
            .footer
              ©2015 Conected Diagnostics
              %br
              %a{:href => "#"} Privacy Policy
              |
              %a{:href => "#"} Terms and conditions
