= form_for @policy do |f|
  .row.form-field
    .col.pe-2
      = f.label :name
      = field_errors @policy, :name
    .col
      = f.text_field :name
  .row.form-field
    .col.pe-2
      = f.label :user_id
    .col
      = f.text_field :user_id

  .row
    .col.pe-2
      = f.label :definition
    .col.pe-3
      .value
        = f.text_area :definition, :rows => 5, :class => 'input-block'
        = field_errors @policy, :definition
  .row.button-actions
    .col
      = f.submit 'Save', :class => 'btn-primary'
      = link_to 'Cancel', policies_path, class: 'btn-link'
      - if @editing
        = confirm_deletion_button @policy, 'policy'
