= form_for @policy do |f|
  - if @policy.errors.any?
    #error_explanation
      %p= "#{pluralize(@policy.errors.count, "error")} prohibited this @policy from being saved:"
      %ul
        - @policy.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name
  .row
    .col.pe-2
      = f.label :user_id
    .col
      = f.collection_select :user_id, User.all.where('id != ?', current_user.id).sort_by(&:email), :id, :email, {include_blank: "Select user"}, {:class => 'ddown'}
  .row
    .col.pe-2
      = f.label :definition
    .col.pe-3
      .value
        = f.text_area :definition, :rows => 5, :class => 'input-block'
  .row.button-actions
    .col
      = f.submit 'Save', :class => 'btn-primary'
