= form_for @policy do |f|
  - if @policy.errors.any?
    #error_explanation
      %p= "#{pluralize(@policy.errors.count, "error")} prohibited this @policy from being saved:"
      %ul
        - @policy.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name
  .row
    .col.pe-2
      = f.label :user_id
    .col
      = cdx_select form: f, name: :user_id, class: 'input-x-large' do |select|
        - select.item "", "Select user"
        - select.items User.all.where('id != ?', current_user.id).sort_by(&:email), :id, :email

  .row
    .col.pe-2
      = f.label :definition
    .col.pe-3
      .value
        = f.text_area :definition, :rows => 5, :class => 'input-block'
  .row.button-actions
    .col
      = f.submit 'Save', :class => 'btn-primary'
      = link_to 'Cancel', policies_path, class: 'btn-link'
      - if @editing
        = link_to "Delete", @policy, method: :delete, data: { confirm: "Are you sure you want to delete the policy '#{@policy.name}'" }, :class => 'btn-secondary pull-right'
