= form_for @policy do |f|
  - if @policy.errors.any?
    #error_explanation
      %p= "#{pluralize(@policy.errors.count, "error")} prohibited this @policy from being saved:"
      %ul
        - @policy.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name
  .row
    .col.pe-2
      = f.label :user_id
    .col
      = f.text_field :user_id

  .row
    .col.pe-2
      = f.label :definition
    .col.pe-3
      .value
        = f.text_area :definition, :rows => 5, :class => 'input-block'
  .row.button-actions
    .col
      = f.submit 'Save', :class => 'btn-primary'
      = link_to 'Cancel', policies_path, class: 'btn-link'
      - if @editing
        = confirm_deletion_button @policy, 'policy'
