= cdx_form_for @policy do |f|
  = f.form_field :name do
    = f.text_field :name

  = f.form_field :user_id do
    = f.text_field :user_id

  = f.form_field :definition do
    = f.text_area :definition, :rows => 5, :class => 'input-block'

  = f.form_actions do
    = f.submit 'Save', :class => 'btn-primary'
    = link_to 'Cancel', policies_path, class: 'btn-link'
    - if @editing
      = confirm_deletion_button @policy, 'policy'
