.row
  .col
    = link_to "+", new_policy_path, class: 'btn-add side-link ontop fix', title: 'Add Policy'
    = cdx_table title: 'Policies' do |t|
      - t.columns do
        %col{:width => "25%"}
        %col{:width => "20%"}
        %col{:width => "20%"}
        %col{:width => "35%"}
      - t.thead do
        %tr
          %th Name
          %th Policy Name
          %th User
          %th Last Activity
      - t.tbody do
        - @policies.each do |policy|
          %tr
            %td= policy.user.full_name
            %td= link_to policy.name, edit_policy_path(policy)
            %td= link_to policy.user.email, edit_policy_path(policy)
            %td= last_activity(policy.user)
